In [10]:
import pandas as pd
import numpy as np

df = pd.read_parquet('./data/sales-7003984.parquet.gzip')
df

           BILL_DATE  MATERIAL SALES_DIST  SOLD_TO  SHIP_TO  PIEZAS
8511      2019-03-03      2641     100482  6001932  7003984       1
8512      2019-03-03     12916     100482  6001932  7003984       1
8513      2019-03-03      2464     100482  6001932  7003984       1
9478      2019-03-03     11074     100482  6001932  7003984       1
9479      2019-03-03     20306     100482  6001932  7003984       1
...              ...       ...        ...      ...      ...     ...
141730332 2020-09-17     31907     100482  6001932  7003984       2
141730333 2020-09-17     36526     100482  6001932  7003984       2
141730334 2020-09-17     36879     100482  6001932  7003984       1
141730335 2020-09-17     39950     100482  6001932  7003984       5
141730336 2020-09-17     44388     100482  6001932  7003984       1

[4333 rows x 6 columns]