# Opportunity 2

## Imports

In [19]:
import pandas as pd
import numpy as np
from pathlib import Path
import warnings
from fbprophet import Prophet

warnings.simplefilter('ignore')

## Data setup

In [11]:
data_dir = Path('data')
stores_data = {}

for parquet_file in data_dir.glob('*.parquet*'):
    file_name = str(parquet_file).replace('data\sales-', '').replace('.parquet.gzip', '')
    stores_data[file_name] = {'sales_df': pd.read_parquet(parquet_file).drop(['SALES_DIST', 'SOLD_TO', 'SHIP_TO'], axis=1)}
    
stores_data

{'7003984': {'sales_df':            BILL_DATE  MATERIAL  PIEZAS
  8511      2019-03-03      2641       1
  8512      2019-03-03     12916       1
  8513      2019-03-03      2464       1
  9478      2019-03-03     11074       1
  9479      2019-03-03     20306       1
  ...              ...       ...     ...
  141730332 2020-09-17     31907       2
  141730333 2020-09-17     36526       2
  141730334 2020-09-17     36879       1
  141730335 2020-09-17     39950       5
  141730336 2020-09-17     44388       1

  [4333 rows x 3 columns]},
 '7007091': {'sales_df':            BILL_DATE  MATERIAL  PIEZAS
  17613     2019-03-03      9184       1
  17614     2019-03-03       495       1
  17615     2019-03-03       552       1
  18706     2019-03-03      2130       1
  41200     2019-03-03     12064       1
  ...              ...       ...     ...
  187137484 2021-03-30     32003       1
  187137485 2021-03-30     32334       1
  187516552 2021-03-31      7285       1
  187516553 2021-03-31     20421       4
  187516554 2021-03-31     40285       1

  [4376 rows x 3 columns]},
 '7017139': {'sales_df':            BILL_DATE  MATERIAL  PIEZAS
  327623    2019-03-04       425       1
  342880    2019-03-04     12080       1
  343841    2019-03-04      2639       1
  347866    2019-03-04     12026       1
  467020    2019-03-04     29772       2
  ...              ...       ...     ...
  186696013 2021-03-29     12793       2
  186696014 2021-03-29     22054       4
  186908262 2021-03-29     43004       1
  186915466 2021-03-29     16640       1
  186925567 2021-03-29     36717       2

  [4379 rows x 3 columns]},
 '7022906': {'sales_df':            BILL_DATE  MATERIAL  PIEZAS
  957703    2019-03-06     10950       4
  957704    2019-03-06     28725       8
  957705    2019-03-06     28727       8
  957706    2019-03-06     32002       8
  957707    2019-03-06     13561       5
  ...              ...       ...     ...
  185529703 2021-03-24     45931       3
  185529704 2021-03-24     45952       3
  185529705 2021-03-24     45953       4
  185529706 2021-03-24     45954       4
  185529707 2021-03-24     45955       4

  [4389 rows x 3 columns]},
 '7023126': {'sales_df':            BILL_DATE  MATERIAL  PIEZAS
  280519    2019-03-04     10646       1
  326929    2019-03-04     11317       1
  351215    2019-03-04      1070       1
  365467    2019-03-04      1010       1
  439130    2019-03-04      2342       5
  ...              ...       ...     ...
  185138025 2021-03-23      8906       1
  185138026 2021-03-23     18550       2
  185138027 2021-03-23     44877       2
  185138028 2021-03-23     44878       2
  185138029 2021-03-23     44879       2

  [4334 rows x 3 columns]},
 '7029898': {'sales_df':            BILL_DATE  MATERIAL  PIEZAS
  1058047   2019-03-06     37156       1
  1058048   2019-03-06     31639       1
  1058049   2019-03-06     31640       1
  1058050   2019-03-06      8777       2
  1058051   2019-03-06      1252       1
  ...              ...       ...     ...
  187565620 2021-03-31     18833       1
  187565621 2021-03-31     28796       1
  187565622 2021-03-31     36793       1
  187565623 2021-03-31      9139       2
  187565634 2021-03-31     31225       1

  [4319 rows x 3 columns]},
 '7036861': {'sales_df':            BILL_DATE  MATERIAL  PIEZAS
  56436972  2019-11-03     12091       1
  56436973  2019-11-03     17568       1
  56436974  2019-11-03     15439       1
  56436975  2019-11-03       542       1
  56436976  2019-11-03      2674       1
  ...              ...       ...     ...
  187373097 2021-03-31      2296       1
  187373098 2021-03-31      3590       1
  187373099 2021-03-31      8505       1
  187373100 2021-03-31     16951       1
  187373101 2021-03-31     19974       1

  [4475 rows x 3 columns]}}

## Get first and last date for each store

In [12]:
for store, data in stores_data.items():
    df_sorted_by_dates = data['sales_df'].sort_values(by='BILL_DATE')
    data['oldest_date'] = df_sorted_by_dates.iloc[0]["BILL_DATE"]
    data['newest_date'] = df_sorted_by_dates.iloc[-1]["BILL_DATE"]

## Top 10 most sold products per store

In [13]:
for store, data in stores_data.items():
    product_sales = data['sales_df'].groupby(['MATERIAL'])['PIEZAS'].sum().sort_values(ascending=False)
    data['top_products'] = product_sales.head(10)

stores_data

{'7003984': {'sales_df':            BILL_DATE  MATERIAL  PIEZAS
  8511      2019-03-03      2641       1
  8512      2019-03-03     12916       1
  8513      2019-03-03      2464       1
  9478      2019-03-03     11074       1
  9479      2019-03-03     20306       1
  ...              ...       ...     ...
  141730332 2020-09-17     31907       2
  141730333 2020-09-17     36526       2
  141730334 2020-09-17     36879       1
  141730335 2020-09-17     39950       5
  141730336 2020-09-17     44388       1

  [4333 rows x 3 columns],
  'oldest_date': Timestamp('2019-03-03 00:00:00'),
  'newest_date': Timestamp('2020-09-17 00:00:00'),
  'top_products': MATERIAL
  1564     600
  4373      90
  3439      85
  12504     80
  3008      77
  6623      75
  27752     71
  4077      60
  7904      58
  4414      55
  Name: PIEZAS, dtype: int64},
 '7007091': {'sales_df':            BILL_DATE  MATERIAL  PIEZAS
  17613     2019-03-03      9184       1
  17614     2019-03-03       495       1
  17615     2019-03-03       552       1
  18706     2019-03-03      2130       1
  41200     2019-03-03     12064       1
  ...              ...       ...     ...
  187137484 2021-03-30     32003       1
  187137485 2021-03-30     32334       1
  187516552 2021-03-31      7285       1
  187516553 2021-03-31     20421       4
  187516554 2021-03-31     40285       1

  [4376 rows x 3 columns],
  'oldest_date': Timestamp('2019-03-03 00:00:00'),
  'newest_date': Timestamp('2021-03-31 00:00:00'),
  'top_products': MATERIAL
  6969     210
  6207     146
  6962     117
  6963     105
  188      103
  3591     100
  3590      98
  3556      95
  6213      71
  22572     68
  Name: PIEZAS, dtype: int64},
 '7017139': {'sales_df':            BILL_DATE  MATERIAL  PIEZAS
  327623    2019-03-04       425       1
  342880    2019-03-04     12080       1
  343841    2019-03-04      2639       1
  347866    2019-03-04     12026       1
  467020    2019-03-04     29772       2
  ...              ...       ...     ...
  186696013 2021-03-29     12793       2
  186696014 2021-03-29     22054       4
  186908262 2021-03-29     43004       1
  186915466 2021-03-29     16640       1
  186925567 2021-03-29     36717       2

  [4379 rows x 3 columns],
  'oldest_date': Timestamp('2019-03-04 00:00:00'),
  'newest_date': Timestamp('2021-03-29 00:00:00'),
  'top_products': MATERIAL
  4101     200
  13165    115
  4124     100
  19197     86
  4373      80
  4102      70
  9664      68
  3953      68
  3954      65
  4108      62
  Name: PIEZAS, dtype: int64},
 '7022906': {'sales_df':            BILL_DATE  MATERIAL  PIEZAS
  957703    2019-03-06     10950       4
  957704    2019-03-06     28725       8
  957705    2019-03-06     28727       8
  957706    2019-03-06     32002       8
  957707    2019-03-06     13561       5
  ...              ...       ...     ...
  185529703 2021-03-24     45931       3
  185529704 2021-03-24     45952       3
  185529705 2021-03-24     45953       4
  185529706 2021-03-24     45954       4
  185529707 2021-03-24     45955       4

  [4389 rows x 3 columns],
  'oldest_date': Timestamp('2019-03-06 00:00:00'),
  'newest_date': Timestamp('2021-03-24 00:00:00'),
  'top_products': MATERIAL
  15590    200
  21256    182
  8650     136
  18761    136
  28727    121
  32002    121
  28725    119
  8657     111
  28726    110
  8649     108
  Name: PIEZAS, dtype: int64},
 '7023126': {'sales_df':            BILL_DATE  MATERIAL  PIEZAS
  280519    2019-03-04     10646       1
  326929    2019-03-04     11317       1
  351215    2019-03-04      1070       1
  365467    2019-03-04      1010       1
  439130    2019-03-04      2342       5
  ...              ...       ...     ...
  185138025 2021-03-23      8906       1
  185138026 2021-03-23     18550       2
  185138027 2021-03-23     44877       2
  185138028 2021-03-23     44878       2
  185138029 2021-03-23     44879       2

  [4334 rows x 3 columns],
  'oldest_date': Timestamp('2019-03-04 00:00:00'),
  'newest_date': Timestamp('2021-03-23 00:00:00'),
  'top_products': MATERIAL
  2541     127
  29725     85
  29258     68
  38054     60
  20791     56
  3439      55
  2342      52
  12081     52
  29257     46
  16869     45
  Name: PIEZAS, dtype: int64},
 '7029898': {'sales_df':            BILL_DATE  MATERIAL  PIEZAS
  1058047   2019-03-06     37156       1
  1058048   2019-03-06     31639       1
  1058049   2019-03-06     31640       1
  1058050   2019-03-06      8777       2
  1058051   2019-03-06      1252       1
  ...              ...       ...     ...
  187565620 2021-03-31     18833       1
  187565621 2021-03-31     28796       1
  187565622 2021-03-31     36793       1
  187565623 2021-03-31      9139       2
  187565634 2021-03-31     31225       1

  [4319 rows x 3 columns],
  'oldest_date': Timestamp('2019-03-06 00:00:00'),
  'newest_date': Timestamp('2021-03-31 00:00:00'),
  'top_products': MATERIAL
  4373     209
  3444     192
  4103     137
  1883     106
  43629    103
  6248      85
  44066     80
  18891     70
  43598     57
  15932     54
  Name: PIEZAS, dtype: int64},
 '7036861': {'sales_df':            BILL_DATE  MATERIAL  PIEZAS
  56436972  2019-11-03     12091       1
  56436973  2019-11-03     17568       1
  56436974  2019-11-03     15439       1
  56436975  2019-11-03       542       1
  56436976  2019-11-03      2674       1
  ...              ...       ...     ...
  187373097 2021-03-31      2296       1
  187373098 2021-03-31      3590       1
  187373099 2021-03-31      8505       1
  187373100 2021-03-31     16951       1
  187373101 2021-03-31     19974       1

  [4475 rows x 3 columns],
  'oldest_date': Timestamp('2019-11-03 00:00:00'),
  'newest_date': Timestamp('2021-03-31 00:00:00'),
  'top_products': MATERIAL
  42830    191
  42915    179
  42914    162
  42883    141
  42875    126
  42902    125
  43337    116
  42847    113
  42846     98
  42957     94
  Name: PIEZAS, dtype: int64}}

## Get daily sales of top 10 products of each store

In [14]:
for store, data in stores_data.items():
    idx = pd.date_range(data['oldest_date'], data['newest_date'])
    data['top_products_sales'] = {}
    for product, sale in data['top_products'].iteritems():
        product_series = data['sales_df'][data['sales_df']["MATERIAL"] == product]
        product_series = product_series.groupby('BILL_DATE').PIEZAS.sum().to_frame(name = 'PIEZAS')

        product_series.index = pd.DatetimeIndex(product_series.index)
        product_series = product_series.reindex(idx, fill_value=0)
        product_series.index.name = "BILL_DATE"
        product_series = product_series.reset_index()
        data['top_products_sales'][product] = product_series

stores_data

{'7003984': {'sales_df':            BILL_DATE  MATERIAL  PIEZAS
  8511      2019-03-03      2641       1
  8512      2019-03-03     12916       1
  8513      2019-03-03      2464       1
  9478      2019-03-03     11074       1
  9479      2019-03-03     20306       1
  ...              ...       ...     ...
  141730332 2020-09-17     31907       2
  141730333 2020-09-17     36526       2
  141730334 2020-09-17     36879       1
  141730335 2020-09-17     39950       5
  141730336 2020-09-17     44388       1

  [4333 rows x 3 columns],
  'oldest_date': Timestamp('2019-03-03 00:00:00'),
  'newest_date': Timestamp('2020-09-17 00:00:00'),
  'top_products': MATERIAL
  1564     600
  4373      90
  3439      85
  12504     80
  3008      77
  6623      75
  27752     71
  4077      60
  7904      58
  4414      55
  Name: PIEZAS, dtype: int64,
  'top_products_sales': {1564:      BILL_DATE  PIEZAS
   0   2019-03-03       0
   1   2019-03-04       0
   2   2019-03-05       0
   3   2019-03-06       0
   4   2019-03-07       0
   ..         ...     ...
   560 2020-09-13       0
   561 2020-09-14       0
   562 2020-09-15       0
   563 2020-09-16       0
   564 2020-09-17       0

   [565 rows x 2 columns],
   4373:      BILL_DATE  PIEZAS
   0   2019-03-03       0
   1   2019-03-04       0
   2   2019-03-05      10
   3   2019-03-06       0
   4   2019-03-07       0
   ..         ...     ...
   560 2020-09-13       0
   561 2020-09-14       0
   562 2020-09-15       0
   563 2020-09-16       0
   564 2020-09-17       0

   [565 rows x 2 columns],
   3439:      BILL_DATE  PIEZAS
   0   2019-03-03       0
   1   2019-03-04       0
   2   2019-03-05       0
   3   2019-03-06       0
   4   2019-03-07       0
   ..         ...     ...
   560 2020-09-13       0
   561 2020-09-14       0
   562 2020-09-15       0
   563 2020-09-16       0
   564 2020-09-17       0

   [565 rows x 2 columns],
   12504:      BILL_DATE  PIEZAS
   0   2019-03-03       0
   1   2019-03-04       0
   2   2019-03-05       0
   3   2019-03-06       0
   4   2019-03-07       0
   ..         ...     ...
   560 2020-09-13       0
   561 2020-09-14       0
   562 2020-09-15       0
   563 2020-09-16       0
   564 2020-09-17       0

   [565 rows x 2 columns],
   3008:      BILL_DATE  PIEZAS
   0   2019-03-03       0
   1   2019-03-04       0
   2   2019-03-05       0
   3   2019-03-06       0
   4   2019-03-07       0
   ..         ...     ...
   560 2020-09-13       0
   561 2020-09-14       0
   562 2020-09-15       0
   563 2020-09-16       0
   564 2020-09-17       0

   [565 rows x 2 columns],
   6623:      BILL_DATE  PIEZAS
   0   2019-03-03       0
   1   2019-03-04       0
   2   2019-03-05       0
   3   2019-03-06       0
   4   2019-03-07       0
   ..         ...     ...
   560 2020-09-13       0
   561 2020-09-14       0
   562 2020-09-15       0
   563 2020-09-16       0
   564 2020-09-17       0

   [565 rows x 2 columns],
   27752:      BILL_DATE  PIEZAS
   0   2019-03-03       0
   1   2019-03-04       0
   2   2019-03-05       0
   3   2019-03-06       0
   4   2019-03-07       0
   ..         ...     ...
   560 2020-09-13       0
   561 2020-09-14       0
   562 2020-09-15       0
   563 2020-09-16       0
   564 2020-09-17       0

   [565 rows x 2 columns],
   4077:      BILL_DATE  PIEZAS
   0   2019-03-03       0
   1   2019-03-04       0
   2   2019-03-05       0
   3   2019-03-06       0
   4   2019-03-07       0
   ..         ...     ...
   560 2020-09-13       0
   561 2020-09-14       0
   562 2020-09-15       0
   563 2020-09-16       0
   564 2020-09-17       0

   [565 rows x 2 columns],
   7904:      BILL_DATE  PIEZAS
   0   2019-03-03       0
   1   2019-03-04       0
   2   2019-03-05       0
   3   2019-03-06       0
   4   2019-03-07       0
   ..         ...     ...
   560 2020-09-13       0
   561 2020-09-14       0
   562 2020-09-15       0
   563 2020-09-16       0
   564 2020-09-17       0

   [565 rows x 2 columns],
   4414:      BILL_DATE  PIEZAS
   0   2019-03-03       0
   1   2019-03-04       0
   2   2019-03-05       0
   3   2019-03-06       0
   4   2019-03-07       0
   ..         ...     ...
   560 2020-09-13       0
   561 2020-09-14       0
   562 2020-09-15       0
   563 2020-09-16       0
   564 2020-09-17       0

   [565 rows x 2 columns]}},
 '7007091': {'sales_df':            BILL_DATE  MATERIAL  PIEZAS
  17613     2019-03-03      9184       1
  17614     2019-03-03       495       1
  17615     2019-03-03       552       1
  18706     2019-03-03      2130       1
  41200     2019-03-03     12064       1
  ...              ...       ...     ...
  187137484 2021-03-30     32003       1
  187137485 2021-03-30     32334       1
  187516552 2021-03-31      7285       1
  187516553 2021-03-31     20421       4
  187516554 2021-03-31     40285       1

  [4376 rows x 3 columns],
  'oldest_date': Timestamp('2019-03-03 00:00:00'),
  'newest_date': Timestamp('2021-03-31 00:00:00'),
  'top_products': MATERIAL
  6969     210
  6207     146
  6962     117
  6963     105
  188      103
  3591     100
  3590      98
  3556      95
  6213      71
  22572     68
  Name: PIEZAS, dtype: int64,
  'top_products_sales': {6969:      BILL_DATE  PIEZAS
   0   2019-03-03       0
   1   2019-03-04       0
   2   2019-03-05       2
   3   2019-03-06       0
   4   2019-03-07       0
   ..         ...     ...
   755 2021-03-27       0
   756 2021-03-28       0
   757 2021-03-29       0
   758 2021-03-30       0
   759 2021-03-31       0

   [760 rows x 2 columns],
   6207:      BILL_DATE  PIEZAS
   0   2019-03-03       0
   1   2019-03-04       0
   2   2019-03-05       0
   3   2019-03-06       0
   4   2019-03-07       0
   ..         ...     ...
   755 2021-03-27       0
   756 2021-03-28       0
   757 2021-03-29       0
   758 2021-03-30       0
   759 2021-03-31       0

   [760 rows x 2 columns],
   6962:      BILL_DATE  PIEZAS
   0   2019-03-03       0
   1   2019-03-04       0
   2   2019-03-05       0
   3   2019-03-06       0
   4   2019-03-07       1
   ..         ...     ...
   755 2021-03-27       0
   756 2021-03-28       0
   757 2021-03-29       0
   758 2021-03-30       0
   759 2021-03-31       0

   [760 rows x 2 columns],
   6963:      BILL_DATE  PIEZAS
   0   2019-03-03       0
   1   2019-03-04       0
   2   2019-03-05       1
   3   2019-03-06       0
   4   2019-03-07       1
   ..         ...     ...
   755 2021-03-27       0
   756 2021-03-28       0
   757 2021-03-29       0
   758 2021-03-30       0
   759 2021-03-31       0

   [760 rows x 2 columns],
   188:      BILL_DATE  PIEZAS
   0   2019-03-03       0
   1   2019-03-04       0
   2   2019-03-05       2
   3   2019-03-06       1
   4   2019-03-07       1
   ..         ...     ...
   755 2021-03-27       0
   756 2021-03-28       0
   757 2021-03-29       0
   758 2021-03-30       0
   759 2021-03-31       0

   [760 rows x 2 columns],
   3591:      BILL_DATE  PIEZAS
   0   2019-03-03       0
   1   2019-03-04       0
   2   2019-03-05       0
   3   2019-03-06       0
   4   2019-03-07       0
   ..         ...     ...
   755 2021-03-27       0
   756 2021-03-28       0
   757 2021-03-29       0
   758 2021-03-30       0
   759 2021-03-31       0

   [760 rows x 2 columns],
   3590:      BILL_DATE  PIEZAS
   0   2019-03-03       0
   1   2019-03-04       0
   2   2019-03-05       0
   3   2019-03-06       0
   4   2019-03-07       1
   ..         ...     ...
   755 2021-03-27       0
   756 2021-03-28       0
   757 2021-03-29       0
   758 2021-03-30       0
   759 2021-03-31       0

   [760 rows x 2 columns],
   3556:      BILL_DATE  PIEZAS
   0   2019-03-03       0
   1   2019-03-04       0
   2   2019-03-05       0
   3   2019-03-06       1
   4   2019-03-07       1
   ..         ...     ...
   755 2021-03-27       0
   756 2021-03-28       0
   757 2021-03-29       0
   758 2021-03-30       0
   759 2021-03-31       0

   [760 rows x 2 columns],
   6213:      BILL_DATE  PIEZAS
   0   2019-03-03       0
   1   2019-03-04       0
   2   2019-03-05       0
   3   2019-03-06       0
   4   2019-03-07       0
   ..         ...     ...
   755 2021-03-27       0
   756 2021-03-28       0
   757 2021-03-29       0
   758 2021-03-30       0
   759 2021-03-31       0

   [760 rows x 2 columns],
   22572:      BILL_DATE  PIEZAS
   0   2019-03-03       0
   1   2019-03-04       0
   2   2019-03-05       0
   3   2019-03-06       0
   4   2019-03-07       0
   ..         ...     ...
   755 2021-03-27       0
   756 2021-03-28       0
   757 2021-03-29       0
   758 2021-03-30       0
   759 2021-03-31       0

   [760 rows x 2 columns]}},
 '7017139': {'sales_df':            BILL_DATE  MATERIAL  PIEZAS
  327623    2019-03-04       425       1
  342880    2019-03-04     12080       1
  343841    2019-03-04      2639       1
  347866    2019-03-04     12026       1
  467020    2019-03-04     29772       2
  ...              ...       ...     ...
  186696013 2021-03-29     12793       2
  186696014 2021-03-29     22054       4
  186908262 2021-03-29     43004       1
  186915466 2021-03-29     16640       1
  186925567 2021-03-29     36717       2

  [4379 rows x 3 columns],
  'oldest_date': Timestamp('2019-03-04 00:00:00'),
  'newest_date': Timestamp('2021-03-29 00:00:00'),
  'top_products': MATERIAL
  4101     200
  13165    115
  4124     100
  19197     86
  4373      80
  4102      70
  9664      68
  3953      68
  3954      65
  4108      62
  Name: PIEZAS, dtype: int64,
  'top_products_sales': {4101:      BILL_DATE  PIEZAS
   0   2019-03-04       0
   1   2019-03-05       0
   2   2019-03-06       0
   3   2019-03-07       0
   4   2019-03-08       0
   ..         ...     ...
   752 2021-03-25       0
   753 2021-03-26       0
   754 2021-03-27       0
   755 2021-03-28       0
   756 2021-03-29       0

   [757 rows x 2 columns],
   13165:      BILL_DATE  PIEZAS
   0   2019-03-04       0
   1   2019-03-05       0
   2   2019-03-06       0
   3   2019-03-07       0
   4   2019-03-08       0
   ..         ...     ...
   752 2021-03-25       0
   753 2021-03-26       0
   754 2021-03-27       0
   755 2021-03-28       0
   756 2021-03-29       0

   [757 rows x 2 columns],
   4124:      BILL_DATE  PIEZAS
   0   2019-03-04       0
   1   2019-03-05       0
   2   2019-03-06       0
   3   2019-03-07       0
   4   2019-03-08       0
   ..         ...     ...
   752 2021-03-25       0
   753 2021-03-26       0
   754 2021-03-27       0
   755 2021-03-28       0
   756 2021-03-29       0

   [757 rows x 2 columns],
   19197:      BILL_DATE  PIEZAS
   0   2019-03-04       0
   1   2019-03-05       0
   2   2019-03-06       0
   3   2019-03-07       0
   4   2019-03-08       0
   ..         ...     ...
   752 2021-03-25       0
   753 2021-03-26       0
   754 2021-03-27       0
   755 2021-03-28       0
   756 2021-03-29       0

   [757 rows x 2 columns],
   4373:      BILL_DATE  PIEZAS
   0   2019-03-04       0
   1   2019-03-05       0
   2   2019-03-06       0
   3   2019-03-07       0
   4   2019-03-08       0
   ..         ...     ...
   752 2021-03-25       0
   753 2021-03-26       0
   754 2021-03-27       0
   755 2021-03-28       0
   756 2021-03-29       0

   [757 rows x 2 columns],
   4102:      BILL_DATE  PIEZAS
   0   2019-03-04       0
   1   2019-03-05       0
   2   2019-03-06       0
   3   2019-03-07       0
   4   2019-03-08       0
   ..         ...     ...
   752 2021-03-25       0
   753 2021-03-26       0
   754 2021-03-27       0
   755 2021-03-28       0
   756 2021-03-29       0

   [757 rows x 2 columns],
   9664:      BILL_DATE  PIEZAS
   0   2019-03-04       0
   1   2019-03-05       0
   2   2019-03-06       0
   3   2019-03-07       0
   4   2019-03-08       0
   ..         ...     ...
   752 2021-03-25       0
   753 2021-03-26       0
   754 2021-03-27       0
   755 2021-03-28       0
   756 2021-03-29       0

   [757 rows x 2 columns],
   3953:      BILL_DATE  PIEZAS
   0   2019-03-04       0
   1   2019-03-05       0
   2   2019-03-06       0
   3   2019-03-07       0
   4   2019-03-08       0
   ..         ...     ...
   752 2021-03-25       4
   753 2021-03-26       0
   754 2021-03-27       0
   755 2021-03-28       0
   756 2021-03-29       0

   [757 rows x 2 columns],
   3954:      BILL_DATE  PIEZAS
   0   2019-03-04       0
   1   2019-03-05       0
   2   2019-03-06       0
   3   2019-03-07       0
   4   2019-03-08       0
   ..         ...     ...
   752 2021-03-25       0
   753 2021-03-26       0
   754 2021-03-27       0
   755 2021-03-28       0
   756 2021-03-29       0

   [757 rows x 2 columns],
   4108:      BILL_DATE  PIEZAS
   0   2019-03-04       0
   1   2019-03-05       0
   2   2019-03-06       0
   3   2019-03-07       0
   4   2019-03-08       0
   ..         ...     ...
   752 2021-03-25       0
   753 2021-03-26       0
   754 2021-03-27       0
   755 2021-03-28       0
   756 2021-03-29       0

   [757 rows x 2 columns]}},
 '7022906': {'sales_df':            BILL_DATE  MATERIAL  PIEZAS
  957703    2019-03-06     10950       4
  957704    2019-03-06     28725       8
  957705    2019-03-06     28727       8
  957706    2019-03-06     32002       8
  957707    2019-03-06     13561       5
  ...              ...       ...     ...
  185529703 2021-03-24     45931       3
  185529704 2021-03-24     45952       3
  185529705 2021-03-24     45953       4
  185529706 2021-03-24     45954       4
  185529707 2021-03-24     45955       4

  [4389 rows x 3 columns],
  'oldest_date': Timestamp('2019-03-06 00:00:00'),
  'newest_date': Timestamp('2021-03-24 00:00:00'),
  'top_products': MATERIAL
  15590    200
  21256    182
  8650     136
  18761    136
  28727    121
  32002    121
  28725    119
  8657     111
  28726    110
  8649     108
  Name: PIEZAS, dtype: int64,
  'top_products_sales': {15590:      BILL_DATE  PIEZAS
   0   2019-03-06       0
   1   2019-03-07       0
   2   2019-03-08       0
   3   2019-03-09       0
   4   2019-03-10       0
   ..         ...     ...
   745 2021-03-20       0
   746 2021-03-21       0
   747 2021-03-22       0
   748 2021-03-23       0
   749 2021-03-24       0

   [750 rows x 2 columns],
   21256:      BILL_DATE  PIEZAS
   0   2019-03-06       0
   1   2019-03-07       0
   2   2019-03-08       0
   3   2019-03-09       0
   4   2019-03-10       0
   ..         ...     ...
   745 2021-03-20       0
   746 2021-03-21       0
   747 2021-03-22       0
   748 2021-03-23       0
   749 2021-03-24       0

   [750 rows x 2 columns],
   8650:      BILL_DATE  PIEZAS
   0   2019-03-06       0
   1   2019-03-07       0
   2   2019-03-08       0
   3   2019-03-09       0
   4   2019-03-10       0
   ..         ...     ...
   745 2021-03-20       0
   746 2021-03-21       0
   747 2021-03-22       0
   748 2021-03-23       0
   749 2021-03-24       3

   [750 rows x 2 columns],
   18761:      BILL_DATE  PIEZAS
   0   2019-03-06       0
   1   2019-03-07       0
   2   2019-03-08       0
   3   2019-03-09       0
   4   2019-03-10       3
   ..         ...     ...
   745 2021-03-20       0
   746 2021-03-21       0
   747 2021-03-22       0
   748 2021-03-23       0
   749 2021-03-24       0

   [750 rows x 2 columns],
   28727:      BILL_DATE  PIEZAS
   0   2019-03-06       8
   1   2019-03-07       0
   2   2019-03-08       0
   3   2019-03-09       0
   4   2019-03-10       0
   ..         ...     ...
   745 2021-03-20       0
   746 2021-03-21       0
   747 2021-03-22       0
   748 2021-03-23       0
   749 2021-03-24       3

   [750 rows x 2 columns],
   32002:      BILL_DATE  PIEZAS
   0   2019-03-06       8
   1   2019-03-07       0
   2   2019-03-08       0
   3   2019-03-09       0
   4   2019-03-10       0
   ..         ...     ...
   745 2021-03-20       0
   746 2021-03-21       0
   747 2021-03-22       0
   748 2021-03-23       0
   749 2021-03-24       3

   [750 rows x 2 columns],
   28725:      BILL_DATE  PIEZAS
   0   2019-03-06       8
   1   2019-03-07       0
   2   2019-03-08       0
   3   2019-03-09       0
   4   2019-03-10       0
   ..         ...     ...
   745 2021-03-20       0
   746 2021-03-21       0
   747 2021-03-22       0
   748 2021-03-23       0
   749 2021-03-24       0

   [750 rows x 2 columns],
   8657:      BILL_DATE  PIEZAS
   0   2019-03-06       0
   1   2019-03-07       0
   2   2019-03-08       0
   3   2019-03-09       0
   4   2019-03-10       0
   ..         ...     ...
   745 2021-03-20       0
   746 2021-03-21       0
   747 2021-03-22       0
   748 2021-03-23       0
   749 2021-03-24       3

   [750 rows x 2 columns],
   28726:      BILL_DATE  PIEZAS
   0   2019-03-06       0
   1   2019-03-07       0
   2   2019-03-08       0
   3   2019-03-09       0
   4   2019-03-10       0
   ..         ...     ...
   745 2021-03-20       0
   746 2021-03-21       0
   747 2021-03-22       0
   748 2021-03-23       0
   749 2021-03-24       3

   [750 rows x 2 columns],
   8649:      BILL_DATE  PIEZAS
   0   2019-03-06       0
   1   2019-03-07       0
   2   2019-03-08       0
   3   2019-03-09       0
   4   2019-03-10       0
   ..         ...     ...
   745 2021-03-20       0
   746 2021-03-21       0
   747 2021-03-22       0
   748 2021-03-23       0
   749 2021-03-24       3

   [750 rows x 2 columns]}},
 '7023126': {'sales_df':            BILL_DATE  MATERIAL  PIEZAS
  280519    2019-03-04     10646       1
  326929    2019-03-04     11317       1
  351215    2019-03-04      1070       1
  365467    2019-03-04      1010       1
  439130    2019-03-04      2342       5
  ...              ...       ...     ...
  185138025 2021-03-23      8906       1
  185138026 2021-03-23     18550       2
  185138027 2021-03-23     44877       2
  185138028 2021-03-23     44878       2
  185138029 2021-03-23     44879       2

  [4334 rows x 3 columns],
  'oldest_date': Timestamp('2019-03-04 00:00:00'),
  'newest_date': Timestamp('2021-03-23 00:00:00'),
  'top_products': MATERIAL
  2541     127
  29725     85
  29258     68
  38054     60
  20791     56
  3439      55
  2342      52
  12081     52
  29257     46
  16869     45
  Name: PIEZAS, dtype: int64,
  'top_products_sales': {2541:      BILL_DATE  PIEZAS
   0   2019-03-04       0
   1   2019-03-05       0
   2   2019-03-06       0
   3   2019-03-07       0
   4   2019-03-08       0
   ..         ...     ...
   746 2021-03-19       0
   747 2021-03-20       0
   748 2021-03-21       0
   749 2021-03-22       0
   750 2021-03-23       0

   [751 rows x 2 columns],
   29725:      BILL_DATE  PIEZAS
   0   2019-03-04       0
   1   2019-03-05       0
   2   2019-03-06       0
   3   2019-03-07       0
   4   2019-03-08       0
   ..         ...     ...
   746 2021-03-19       0
   747 2021-03-20       0
   748 2021-03-21       0
   749 2021-03-22       0
   750 2021-03-23       0

   [751 rows x 2 columns],
   29258:      BILL_DATE  PIEZAS
   0   2019-03-04       0
   1   2019-03-05       0
   2   2019-03-06       0
   3   2019-03-07       0
   4   2019-03-08       0
   ..         ...     ...
   746 2021-03-19       0
   747 2021-03-20       0
   748 2021-03-21       0
   749 2021-03-22       0
   750 2021-03-23       0

   [751 rows x 2 columns],
   38054:      BILL_DATE  PIEZAS
   0   2019-03-04       0
   1   2019-03-05       0
   2   2019-03-06       0
   3   2019-03-07       0
   4   2019-03-08       0
   ..         ...     ...
   746 2021-03-19       0
   747 2021-03-20       0
   748 2021-03-21       0
   749 2021-03-22       0
   750 2021-03-23       0

   [751 rows x 2 columns],
   20791:      BILL_DATE  PIEZAS
   0   2019-03-04       0
   1   2019-03-05       8
   2   2019-03-06       0
   3   2019-03-07       0
   4   2019-03-08       0
   ..         ...     ...
   746 2021-03-19       0
   747 2021-03-20       0
   748 2021-03-21       0
   749 2021-03-22       0
   750 2021-03-23       0

   [751 rows x 2 columns],
   3439:      BILL_DATE  PIEZAS

## Forecast the next 7 days for each of the top 10 products at each store

In [20]:
for store in stores_data:
    print(f'Store: {store}')
    stores_data[store]['models'] = {}
    stores_data[store]['predictions'] = {}
    for product in stores_data[store]['top_products_sales']:
        print(f'Product: {product}')
        daily_sales = stores_data[store]['top_products_sales'][product]
        daily_sales.columns = ['ds', 'y']
        m = Prophet(interval_width=0.95, daily_seasonality=True, yearly_seasonality=False) 
        stores_data[store]['models'][product] = m.fit(daily_sales)
        future = m.make_future_dataframe(periods=7, freq='D')
        forecast = m.predict(future)
        forecast = forecast.tail(7)
        stores_data[store]['predictions'][product] = forecast
        print(forecast[['ds', 'yhat']])

Store: 7003984
Product: 1564
            ds      yhat
565 2020-09-18  0.114441
566 2020-09-19 -1.133410
567 2020-09-20 -1.149122
568 2020-09-21  2.550615
569 2020-09-22 -1.147955
570 2020-09-23  0.085674
571 2020-09-24  0.086254
Product: 4373
            ds      yhat
565 2020-09-18 -0.208219
566 2020-09-19 -0.208249
567 2020-09-20 -0.087529
568 2020-09-21  0.035591
569 2020-09-22  0.158712
570 2020-09-23 -0.210780
571 2020-09-24  0.158646
Product: 3439
            ds      yhat
565 2020-09-18 -0.034916
566 2020-09-19 -0.159642
567 2020-09-20 -0.161692
568 2020-09-21  0.023219
569 2020-09-22  0.084877
570 2020-09-23 -0.038344
571 2020-09-24  0.208192
Product: 12504
            ds      yhat
565 2020-09-18  0.835303
566 2020-09-19  0.584523
567 2020-09-20  0.588943
568 2020-09-21  0.964738
569 2020-09-22  0.592457
570 2020-09-23  0.968239
571 2020-09-24  0.595947
Product: 3008
            ds      yhat
565 2020-09-18 -0.089792
566 2020-09-19 -0.089462
567 2020-09-20  0.191037
568 2020-09-21  0.179087
569 2020-09-22  0.179420
570 2020-09-23  0.032314
571 2020-09-24 -0.090219
Product: 6623
            ds      yhat
565 2020-09-18  0.067130
566 2020-09-19 -0.057857
567 2020-09-20  0.188256
568 2020-09-21  0.126565
569 2020-09-22  0.126594
570 2020-09-23  0.064904
571 2020-09-24  0.003213
Product: 27752
            ds      yhat
565 2020-09-18 -0.006114
566 2020-09-19 -0.068913
567 2020-09-20  0.054320
568 2020-09-21 -0.032506
569 2020-09-22  0.314734
570 2020-09-23  0.091488
571 2020-09-24  0.041869
Product: 4077
            ds      yhat
565 2020-09-18 -0.000994
566 2020-09-19 -0.001005
567 2020-09-20  0.245183
568 2020-09-21  0.183645
569 2020-09-22 -0.000945
570 2020-09-23  0.183623
571 2020-09-24  0.122085
Product: 7904
            ds      yhat
565 2020-09-18  0.033059
566 2020-09-19 -0.116589
567 2020-09-20 -0.069721
568 2020-09-21  0.004623
569 2020-09-22  0.165352
570 2020-09-23 -0.081168
571 2020-09-24 -0.043850
Product: 4414
            ds      yhat
565 2020-09-18  0.164703
566 2020-09-19  0.103048
567 2020-09-20  0.102703
568 2020-09-21  0.350144
569 2020-09-22  0.412601
570 2020-09-23  0.166756
571 2020-09-24  0.105889
Store: 7007091
Product: 6969
            ds      yhat
760 2021-04-01  0.277085
761 2021-04-02  0.416181
762 2021-04-03 -0.010427
763 2021-04-04  0.338696
764 2021-04-05  0.311121
765 2021-04-06  0.384611
766 2021-04-07  0.145719
Product: 6207
            ds      yhat
760 2021-04-01  0.357441
761 2021-04-02  0.348770
762 2021-04-03  0.164880
763 2021-04-04  0.448774
764 2021-04-05  0.504114
765 2021-04-06  0.349425
766 2021-04-07  0.322579
Product: 6962
            ds      yhat
760 2021-04-01  0.116906
761 2021-04-02  0.079837
762 2021-04-03 -0.012788
763 2021-04-04  0.234881
764 2021-04-05  0.225675
765 2021-04-06  0.234817
766 2021-04-07  0.106353
Product: 6963
            ds      yhat
760 2021-04-01  0.124892
761 2021-04-02  0.171290
762 2021-04-03  0.004280
763 2021-04-04  0.215828
764 2021-04-05  0.215832
765 2021-04-06  0.133035
766 2021-04-07  0.133039
Product: 188
            ds      yhat
760 2021-04-01  0.179542
761 2021-04-02 -0.043288
762 2021-04-03 -0.080580
763 2021-04-04  0.020021
764 2021-04-05  0.084189
765 2021-04-06  0.175937
766 2021-04-07  0.047050
Product: 3591
            ds      yhat
760 2021-04-01 -0.122301
761 2021-04-02 -0.029829
762 2021-04-03 -0.159527
763 2021-04-04  0.132895
764 2021-04-05  0.114450
765 2021-04-06 -0.023232
766 2021-04-07 -0.115053
Product: 3590
            ds      yhat
760 2021-04-01 -0.070048
761 2021-04-02 -0.079286
762 2021-04-03 -0.171855
763 2021-04-04  0.092570
764 2021-04-05  0.092592
765 2021-04-06 -0.100042
766 2021-04-07 -0.072498
Product: 3556
            ds      yhat
760 2021-04-01 -0.021721
761 2021-04-02  0.015311
762 2021-04-03 -0.105124
763 2021-04-04  0.013323
764 2021-04-05  0.196863
765 2021-04-06  0.022462
766 2021-04-07  0.013265
Product: 6213
            ds      yhat
760 2021-04-01 -0.047483
761 2021-04-02 -0.056774
762 2021-04-03 -0.130852
763 2021-04-04  0.014842
764 2021-04-05  0.033145
765 2021-04-06 -0.040251
766 2021-04-07 -0.040287
Product: 22572
            ds      yhat
760 2021-04-01  0.084419
761 2021-04-02 -0.026484
762 2021-04-03 -0.063467
763 2021-04-04  0.100843
764 2021-04-05  0.073354
765 2021-04-06  0.009244
766 2021-04-07  0.000066
Store: 7017139
Product: 4101
            ds      yhat
757 2021-03-30  0.245518
758 2021-03-31  0.245424
759 2021-04-01  0.523106
760 2021-04-02  0.708196
761 2021-04-03  0.245144
762 2021-04-04  0.245051
763 2021-04-05  1.348475
Product: 13165
            ds      yhat
757 2021-03-30  0.027317
758 2021-03-31 -0.111773
759 2021-04-01 -0.204640
760 2021-04-02  0.257133
761 2021-04-03 -0.205494
762 2021-04-04  0.071402
763 2021-04-05 -0.206733
Product: 4124
            ds      yhat
757 2021-03-30 -0.225111
758 2021-03-31 -0.225412
759 2021-04-01 -0.225716
760 2021-04-02 -0.226020
761 2021-04-03 -0.226307
762 2021-04-04 -0.226597
763 2021-04-05  0.692652
Product: 19197
            ds      yhat
757 2021-03-30 -0.065299
758 2021-03-31 -0.065636
759 2021-04-01  0.406470
760 2021-04-02  0.026328
761 2021-04-03 -0.066641
762 2021-04-04 -0.066975
763 2021-04-05  0.162554
Product: 4373
            ds      yhat
757 2021-03-30 -0.009175
758 2021-03-31  0.175814
759 2021-04-01  0.083308
760 2021-04-02 -0.009198
761 2021-04-03 -0.009206
762 2021-04-04 -0.009214
763 2021-04-05  0.449005
Product: 4102
            ds      yhat
757 2021-03-30  0.142961
758 2021-03-31  0.142866
759 2021-04-01  0.142772
760 2021-04-02  0.142677
761 2021-04-03  0.142583
762 2021-04-04  0.142489
763 2021-04-05  0.785603
Product: 9664
            ds      yhat
757 2021-03-30 -0.100128
758 2021-03-31 -0.100697
759 2021-04-01  0.093179
760 2021-04-02 -0.101827
761 2021-04-03 -0.102392
762 2021-04-04 -0.102952
763 2021-04-05  0.328708
Product: 3953
            ds      yhat
757 2021-03-30  0.063160
758 2021-03-31  0.007500
759 2021-04-01  0.193039
760 2021-04-02  0.007504
761 2021-04-03  0.007506
762 2021-04-04  0.063169
763 2021-04-05  0.338464
Product: 3954
            ds      yhat
757 2021-03-30  0.072456
758 2021-03-31  0.072457
759 2021-04-01  0.183490
760 2021-04-02  0.072457
761 2021-04-03  0.072456
762 2021-04-04  0.127973
763 2021-04-05  0.503983
Product: 4108
            ds      yhat
757 2021-03-30  0.107561
758 2021-03-31  0.107561
759 2021-04-01  0.348336
760 2021-04-02  0.107561
761 2021-04-03  0.107561
762 2021-04-04  0.107562
763 2021-04-05  0.438867
Store: 7022906
Product: 15590
            ds      yhat
750 2021-03-25 -0.227681
751 2021-03-26 -0.227672
752 2021-03-27 -0.227664
753 2021-03-28  0.463808
754 2021-03-29 -0.227646
755 2021-03-30 -0.227637
756 2021-03-31  0.936672
Product: 21256
            ds      yhat
750 2021-03-25 -0.107884
751 2021-03-26 -0.107882
752 2021-03-27 -0.107880
753 2021-03-28  0.715544
754 2021-03-29 -0.107876
755 2021-03-30 -0.107875
756 2021-03-31  0.762542
Product: 8650
            ds      yhat
750 2021-03-25  0.053388
751 2021-03-26  0.016016
752 2021-03-27  0.016027
753 2021-03-28  0.530066
754 2021-03-29  0.016049
755 2021-03-30  0.016060
756 2021-03-31  0.729223
Product: 18761
            ds      yhat
750 2021-03-25 -0.002942
751 2021-03-26 -0.002994
752 2021-03-27 -0.003046
753 2021-03-28  0.585168
754 2021-03-29 -0.003149
755 2021-03-30 -0.003201
756 2021-03-31  0.672224
Product: 28727
            ds      yhat
750 2021-03-25 -0.029089
751 2021-03-26 -0.028872
752 2021-03-27 -0.028658
753 2021-03-28  0.495000
754 2021-03-29 -0.028232
755 2021-03-30 -0.028020
756 2021-03-31  0.572849
Product: 32002
            ds      yhat
750 2021-03-25 -0.029089
751 2021-03-26 -0.028872
752 2021-03-27 -0.028658
753 2021-03-28  0.495000
754 2021-03-29 -0.028232
755 2021-03-30 -0.028020
756 2021-03-31  0.572849
Product: 28725
            ds      yhat
750 2021-03-25 -0.055376
751 2021-03-26 -0.055231
752 2021-03-27 -0.055086
753 2021-03-28  0.468421
754 2021-03-29 -0.054800
755 2021-03-30 -0.054657
756 2021-03-31  0.527651
Product: 8657
            ds      yhat
750 2021-03-25  0.036783
751 2021-03-26 -0.000550
752 2021-03-27 -0.000500
753 2021-03-28  0.401426
754 2021-03-29 -0.000399
755 2021-03-30 -0.000349
756 2021-03-31  0.592296
Product: 28726

            ds      yhat
750 2021-03-25 -0.026933
751 2021-03-26 -0.026945
752 2021-03-27 -0.026957
753 2021-03-28  0.468308
754 2021-03-29 -0.026979
755 2021-03-30 -0.026991
756 2021-03-31  0.500553
Product: 8649
            ds      yhat
750 2021-03-25  0.035914
751 2021-03-26 -0.001472
752 2021-03-27 -0.001455
753 2021-03-28  0.438056
754 2021-03-29 -0.001420
755 2021-03-30 -0.001403
756 2021-03-31  0.526957
Store: 7023126
Product: 2541
            ds      yhat
751 2021-03-24  0.191714
752 2021-03-25  0.276026
753 2021-03-26  0.360338
754 2021-03-27  0.088698
755 2021-03-28  0.088706
756 2021-03-29  0.330796
757 2021-03-30  0.470020
Product: 29725
            ds      yhat
751 2021-03-24  0.055221
752 2021-03-25 -0.066851
753 2021-03-26 -0.076600
754 2021-03-27 -0.198666
755 2021-03-28 -0.189698
756 2021-03-29 -0.004528
757 2021-03-30 -0.116238
Product: 29258
            ds      yhat
751 2021-03-24  0.129816
752 2021-03-25  0.279484
753 2021-03-26  0.214685
754 2021-03-27  0.103262
755 2021-03-28  0.196979
756 2021-03-29  0.270163
757 2021-03-30  0.159769
Product: 38054
            ds      yhat
751 2021-03-24  0.052520
752 2021-03-25  0.080410
753 2021-03-26  0.043434
754 2021-03-27 -0.049139
755 2021-03-28 -0.030516
756 2021-03-29  0.161353
757 2021-03-30 -0.049649
Product: 20791
            ds      yhat
751 2021-03-24  0.112467
752 2021-03-25  0.112463
753 2021-03-26 -0.036710
754 2021-03-27 -0.036715
755 2021-03-28 -0.036719
756 2021-03-29 -0.037041
757 2021-03-30  0.184605
Product: 3439
            ds      yhat
751 2021-03-24  0.067652
752 2021-03-25  0.020737
753 2021-03-26  0.113657
754 2021-03-27 -0.073094
755 2021-03-28  0.019827
756 2021-03-29 -0.073809
757 2021-03-30 -0.074111
Product: 2342
            ds      yhat
751 2021-03-24  0.033785
752 2021-03-25 -0.068992
753 2021-03-26 -0.097002
754 2021-03-27 -0.096976
755 2021-03-28 -0.050220
756 2021-03-29  0.078037
757 2021-03-30  0.003992
Product: 12081
            ds      yhat
751 2021-03-24  0.117162
752 2021-03-25  0.042253
753 2021-03-26  0.042243
754 2021-03-27 -0.013942
755 2021-03-28  0.023498
756 2021-03-29  0.078712
757 2021-03-30  0.097258
Product: 29257
            ds      yhat
751 2021-03-24  0.016193
752 2021-03-25  0.127882
753 2021-03-26  0.044108
754 2021-03-27 -0.011742
755 2021-03-28  0.025484
756 2021-03-29  0.154166
757 2021-03-30 -0.011862
Product: 16869
            ds      yhat
751 2021-03-24  0.101740
752 2021-03-25  0.129861
753 2021-03-26  0.045488
754 2021-03-27 -0.001388
755 2021-03-28 -0.001390
756 2021-03-29  0.137914
757 2021-03-30 -0.001398
Store: 7029898
Product: 4373
            ds      yhat
757 2021-04-01  0.652867
758 2021-04-02  0.747475
759 2021-04-03  0.453373
760 2021-04-04  0.696052
761 2021-04-05  1.022018
762 2021-04-06  0.709389
763 2021-04-07  0.835667
Product: 3444
            ds      yhat
757 2021-04-01 -0.056514
758 2021-04-02  0.277315
759 2021-04-03 -0.056661
760 2021-04-04  0.611072
761 2021-04-05 -0.056807
762 2021-04-06  0.165723
763 2021-04-07  0.494283
Product: 4103
            ds      yhat
757 2021-04-01  0.405122
758 2021-04-02  0.636600
759 2021-04-03  0.239082
760 2021-04-04  0.535308
761 2021-04-05  0.369037
762 2021-04-06  0.406263
763 2021-04-07  0.351221
Product: 1883
            ds      yhat
757 2021-04-01  0.220032
758 2021-04-02  0.506945
759 2021-04-03  0.127490
760 2021-04-04  0.257066
761 2021-04-05  0.220050
762 2021-04-06  0.284840
763 2021-04-07  0.257035
Product: 43629
            ds      yhat
757 2021-04-01  0.795909
758 2021-04-02  0.574942
759 2021-04-03  0.576459
760 2021-04-04  1.032217
761 2021-04-05  0.588753
762 2021-04-06  0.840557
763 2021-04-07  0.592965
Product: 6248
            ds      yhat
757 2021-04-01 -0.056491
758 2021-04-02 -0.001959
759 2021-04-03 -0.207745
760 2021-04-04 -0.116014
761 2021-04-05 -0.135857
762 2021-04-06 -0.164987
763 2021-04-07  0.009802
Product: 44066
            ds      yhat
757 2021-04-01 -0.062691
758 2021-04-02 -0.010360
759 2021-04-03 -0.171002
760 2021-04-04 -0.007508
761 2021-04-05 -0.140359
762 2021-04-06 -0.050965
763 2021-04-07 -0.035875
Product: 18891
            ds      yhat
757 2021-04-01 -0.072111
758 2021-04-02 -0.018082
759 2021-04-03 -0.185343
760 2021-04-04 -0.066773
761 2021-04-05 -0.141827
762 2021-04-06 -0.069348
763 2021-04-07 -0.107072
Product: 43598
            ds      yhat
757 2021-04-01  0.246926
758 2021-04-02  0.125350
759 2021-04-03  0.096850
760 2021-04-04  0.180031
761 2021-04-05  0.151531
762 2021-04-06  0.309164
763 2021-04-07  0.095412
Product: 15932
            ds      yhat
757 2021-04-01  0.072769
758 2021-04-02  0.156308
759 2021-04-03  0.044919
760 2021-04-04  0.211999
761 2021-04-05  0.100610
762 2021-04-06  0.063479
763 2021-04-07  0.164909
Store: 7036861
Product: 42830
            ds      yhat
515 2021-04-01  0.105394
516 2021-04-02  0.473653
517 2021-04-03 -0.186378
518 2021-04-04 -0.021115
519 2021-04-05  0.910137
520 2021-04-06  0.150836
521 2021-04-07 -0.135097
Product: 42915
            ds      yhat
515 2021-04-01  0.278357
516 2021-04-02  0.797468
517 2021-04-03 -0.011672
518 2021-04-04  0.017716
519 2021-04-05  1.070026
520 2021-04-06  0.204336
521 2021-04-07  0.000502
Product: 42914
            ds      yhat
515 2021-04-01  0.248695
516 2021-04-02  0.632450
517 2021-04-03 -0.068333
518 2021-04-04  0.284291
519 2021-04-05  0.270119
520 2021-04-06  0.431882
521 2021-04-07 -0.069491
Product: 42883
            ds      yhat
515 2021-04-01  0.215664
516 2021-04-02  0.733197
517 2021-04-03  0.130713
518 2021-04-04  0.335698
519 2021-04-05  0.832776
520 2021-04-06  0.400088
521 2021-04-07  0.182999
Product: 42875
            ds      yhat
515 2021-04-01  0.259206
516 2021-04-02  0.028170
517 2021-04-03 -0.148557
518 2021-04-04  0.131449
519 2021-04-05  0.265165
520 2021-04-06  0.264940
521 2021-04-07 -0.150509
Product: 42902
            ds      yhat
515 2021-04-01  0.475094
516 2021-04-02  0.254211
517 2021-04-03 -0.103623
518 2021-04-04 -0.087634
519 2021-04-05  0.653547
520 2021-04-06 -0.104670
521 2021-04-07 -0.106421
Product: 43337
            ds      yhat
515 2021-04-01  0.545165
516 2021-04-02  0.146259
517 2021-04-03 -0.143018
518 2021-04-04 -0.140537
519 2021-04-05  0.466369
520 2021-04-06 -0.143547
521 2021-04-07 -0.145041
Product: 42847
            ds      yhat
515 2021-04-01  0.464337
516 2021-04-02  0.190400
517 2021-04-03 -0.083538
518 2021-04-04 -0.016659
519 2021-04-05  0.253289
520 2021-04-06  0.199101
521 2021-04-07 -0.057673
Product: 42846
            ds      yhat
515 2021-04-01  0.233819
516 2021-04-02  0.097951
517 2021-04-03 -0.078629
518 2021-04-04  0.188504
519 2021-04-05  0.348877
520 2021-04-06  0.054387
521 2021-04-07 -0.079562
Product: 42957
            ds      yhat
515 2021-04-01 -0.052294
516 2021-04-02  0.357267
517 2021-04-03 -0.052606
518 2021-04-04  0.027796
519 2021-04-05  0.216374
520 2021-04-06  0.458878
521 2021-04-07 -0.053561

## Round forecasted values and turn negative ones into 0

In [23]:
for store in stores_data:
    print(f'Store: {store}')
    for product in stores_data[store]['top_products_sales']:
        print(f'Product: {product}')
        stores_data[store]['predictions'][product]['yhat'] = round(stores_data[store]['predictions'][product]['yhat'])
        stores_data[store]['predictions'][product][stores_data[store]['predictions'][product]['yhat'] <= 0] = 0
        print(stores_data[store]['predictions'][product]['yhat'])

Store: 7003984
Product: 1564
565    0.0
566    0.0
567    0.0
568    3.0
569    0.0
570    0.0
571    0.0
Name: yhat, dtype: float64
Product: 4373
565    0.0
566    0.0
567    0.0
568    0.0
569    0.0
570    0.0
571    0.0
Name: yhat, dtype: float64
Product: 3439
565    0.0
566    0.0
567    0.0
568    0.0
569    0.0
570    0.0
571    0.0
Name: yhat, dtype: float64
Product: 12504
565    1.0
566    1.0
567    1.0
568    1.0
569    1.0
570    1.0
571    1.0
Name: yhat, dtype: float64
Product: 3008
565    0.0
566    0.0
567    0.0
568    0.0
569    0.0
570    0.0
571    0.0
Name: yhat, dtype: float64
Product: 6623
565    0.0
566    0.0
567    0.0
568    0.0
569    0.0
570    0.0
571    0.0
Name: yhat, dtype: float64
Product: 27752
565    0.0
566    0.0
567    0.0
568    0.0
569    0.0
570    0.0
571    0.0
Name: yhat, dtype: float64
Product: 4077
565    0.0
566    0.0
567    0.0
568    0.0
569    0.0
570    0.0
571    0.0
Name: yhat, dtype: float64
Product: 7904
565    0.0
566    0.0
567    0.0
568    0.0
569    0.0
570    0.0
571    0.0
Name: yhat, dtype: float64
Product: 4414
565    0.0
566    0.0
567    0.0
568    0.0
569    0.0
570    0.0
571    0.0
Name: yhat, dtype: float64
Store: 7007091
Product: 6969
760    0.0
761    0.0
762    0.0
763    0.0
764    0.0
765    0.0
766    0.0
Name: yhat, dtype: float64
Product: 6207
760    0.0
761    0.0
762    0.0
763    0.0
764    1.0
765    0.0
766    0.0
Name: yhat, dtype: float64
Product: 6962
760    0.0
761    0.0
762    0.0
763    0.0
764    0.0
765    0.0
766    0.0
Name: yhat, dtype: float64
Product: 6963
760    0.0
761    0.0
762    0.0
763    0.0
764    0.0
765    0.0
766    0.0
Name: yhat, dtype: float64
Product: 188
760    0.0
761    0.0
762    0.0
763    0.0
764    0.0
765    0.0
766    0.0
Name: yhat, dtype: float64
Product: 3591
760    0.0
761    0.0
762    0.0
763    0.0
764    0.0
765    0.0
766    0.0
Name: yhat, dtype: float64
Product: 3590
760    0.0
761    0.0
762    0.0
763    0.0
764    0.0
765    0.0
766    0.0
Name: yhat, dtype: float64
Product: 3556
760    0.0
761    0.0
762    0.0
763    0.0
764    0.0
765    0.0
766    0.0
Name: yhat, dtype: float64
Product: 6213
760    0.0
761    0.0
762    0.0
763    0.0
764    0.0
765    0.0
766    0.0
Name: yhat, dtype: float64
Product: 22572
760    0.0
761    0.0
762    0.0
763    0.0
764    0.0
765    0.0
766    0.0
Name: yhat, dtype: float64
Store: 7017139
Product: 4101
757    0.0
758    0.0
759    1.0
760    1.0
761    0.0
762    0.0
763    1.0
Name: yhat, dtype: float64
Product: 13165
757    0.0
758    0.0
759    0.0
760    0.0
761    0.0
762    0.0
763    0.0
Name: yhat, dtype: float64
Product: 4124
757    0.0
758    0.0
759    0.0
760    0.0
761    0.0
762    0.0
763    1.0
Name: yhat, dtype: float64
Product: 19197
757    0.0
758    0.0
759    0.0
760    0.0
761    0.0
762    0.0
763    0.0
Name: yhat, dtype: float64
Product: 4373
757    0.0
758    0.0
759    0.0
760    0.0
761    0.0
762    0.0
763    0.0
Name: yhat, dtype: float64
Product: 4102
757    0.0
758    0.0
759    0.0
760    0.0
761    0.0
762    0.0
763    1.0
Name: yhat, dtype: float64
Product: 9664
757    0.0
758    0.0
759    0.0
760    0.0
761    0.0
762    0.0
763    0.0
Name: yhat, dtype: float64
Product: 3953
757    0.0
758    0.0
759    0.0
760    0.0
761    0.0
762    0.0
763    0.0
Name: yhat, dtype: float64
Product: 3954
757    0.0
758    0.0
759    0.0
760    0.0
761    0.0
762    0.0
763    1.0
Name: yhat, dtype: float64
Product: 4108
757    0.0
758    0.0
759    0.0
760    0.0
761    0.0
762    0.0
763    0.0
Name: yhat, dtype: float64
Store: 7022906
Product: 15590
750    0.0
751    0.0
752    0.0
753    0.0
754    0.0
755    0.0
756    1.0
Name: yhat, dtype: float64
Product: 21256
750    0.0
751    0.0
752    0.0
753    1.0
754    0.0
755    0.0
756    1.0
Name: yhat, dtype: float64
Product: 8650
750    0.0
751    0.0
752    0.0
753    1.0
754    0.0
755    0.0
756    1.0
Name: yhat, dtype: float64
Product: 18761
750    0.0
751    0.0
752    0.0
753    1.0
754    0.0
755    0.0
756    1.0
Name: yhat, dtype: float64
Product: 28727
750    0.0
751    0.0
752    0.0
753    0.0
754    0.0
755    0.0
756    1.0
Name: yhat, dtype: float64
Product: 32002
750    0.0
751    0.0
752    0.0
753    0.0
754    0.0
755    0.0
756    1.0
Name: yhat, dtype: float64
Product: 28725
750    0.0
751    0.0
752    0.0
753    0.0
754    0.0
755    0.0
756    1.0
Name: yhat, dtype: float64
Product: 8657
750    0.0
751    0.0
752    0.0
753    0.0
754    0.0
755    0.0
756    1.0
Name: yhat, dtype: float64
Product: 28726
750    0.0
751    0.0
752    0.0
753    0.0
754    0.0
755    0.0
756    1.0
Name: yhat, dtype: float64
Product: 8649
750    0.0
751    0.0
752    0.0
753    0.0
754    0.0
755    0.0
756    1.0
Name: yhat, dtype: float64
Store: 7023126
Product: 2541
751    0.0
752    0.0
753    0.0
754    0.0
755    0.0
756    0.0
757    0.0
Name: yhat, dtype: float64
Product: 29725
751    0.0
752    0.0
753    0.0
754    0.0
755    0.0
756    0.0
757    0.0
Name: yhat, dtype: float64
Product: 29258
751    0.0
752    0.0
753    0.0
754    0.0
755    0.0
756    0.0
757    0.0
Name: yhat, dtype: float64
Product: 38054
751    0.0
752    0.0
753    0.0
754    0.0
755    0.0
756    0.0
757    0.0
Name: yhat, dtype: float64
Product: 20791
751    0.0
752    0.0
753    0.0
754    0.0
755    0.0
756    0.0
757    0.0
Name: yhat, dtype: float64
Product: 3439
751    0.0
752    0.0
753    0.0
754    0.0
755    0.0
756    0.0
757    0.0
Name: yhat, dtype: float64
Product: 2342
751    0.0
752    0.0
753    0.0
754    0.0
755    0.0
756    0.0
757    0.0
Name: yhat, dtype: float64
Product: 12081
751    0.0
752    0.0
753    0.0
754    0.0
755    0.0
756    0.0
757    0.0
Name: yhat, dtype: float64
Product: 29257
751    0.0
752    0.0
753    0.0
754    0.0
755    0.0
756    0.0
757    0.0
Name: yhat, dtype: float64
Product: 16869
751    0.0
752    0.0
753    0.0
754    0.0
755    0.0
756    0.0
757    0.0
Name: yhat, dtype: float64
Store: 7029898
Product: 4373
757    1.0
758    1.0
759    0.0
760    1.0
761    1.0
762    1.0
763    1.0
Name: yhat, dtype: float64
Product: 3444
757    0.0
758    0.0
759    0.0
760    1.0
761    0.0
762    0.0
763    0.0
Name: yhat, dtype: float64
Product: 4103
757    0.0
758    1.0
759    0.0
760    1.0
761    0.0
762    0.0
763    0.0
Name: yhat, dtype: float64
Product: 1883
757    0.0
758    1.0
759    0.0
760    0.0
761    0.0
762    0.0
763    0.0
Name: yhat, dtype: float64
Product: 43629
757    1.0
758    1.0
759    1.0
760    1.0
761    1.0
762    1.0
763    1.0
Name: yhat, dtype: float64
Product: 6248
757    0.0
758    0.0
759    0.0
760    0.0
761    0.0
762    0.0
763    0.0
Name: yhat, dtype: float64
Product: 44066
757    0.0
758    0.0
759    0.0
760    0.0
761    0.0
762    0.0
763    0.0
Name: yhat, dtype: float64
Product: 18891
757    0.0
758    0.0
759    0.0
760    0.0
761    0.0
762    0.0
763    0.0
Name: yhat, dtype: float64
Product: 43598
757    0.0
758    0.0
759    0.0
760    0.0
761    0.0
762    0.0
763    0.0
Name: yhat, dtype: float64
Product: 15932
757    0.0
758    0.0
759    0.0
760    0.0
761    0.0
762    0.0
763    0.0
Name: yhat, dtype: float64
Store: 7036861
Product: 42830
515    0.0
516    0.0
517    0.0
518    0.0
519    1.0
520    0.0
521    0.0
Name: yhat, dtype: float64
Product: 42915
515    0.0
516    1.0
517    0.0
518    0.0
519    1.0
520    0.0
521    0.0
Name: yhat, dtype: float64
Product: 42914
515    0.0
516    1.0
517    0.0
518    0.0
519    0.0
520    0.0
521    0.0
Name: yhat, dtype: float64
Product: 42883
515    0.0
516    1.0
517    0.0
518    0.0
519    1.0
520    0.0
521    0.0
Name: yhat, dtype: float64
Product: 42875
515    0.0
516    0.0
517    0.0
518    0.0
519    0.0
520    0.0
521    0.0
Name: yhat, dtype: float64
Product: 42902
515    0.0
516    0.0
517    0.0
518    0.0
519    1.0
520    0.0
521    0.0
Name: yhat, dtype: float64
Product: 43337
515    1.0
516    0.0
517    0.0
518    0.0
519    0.0
520    0.0
521    0.0
Name: yhat, dtype: float64
Product: 42847
515    0.0
516    0.0
517    0.0
518    0.0
519    0.0
520    0.0
521    0.0
Name: yhat, dtype: float64
Product: 42846
515    0.0
516    0.0
517    0.0
518    0.0
519    0.0
520    0.0
521    0.0
Name: yhat, dtype: float64
Product: 42957

515    0.0
516    0.0
517    0.0
518    0.0
519    0.0
520    0.0
521    0.0
Name: yhat, dtype: float64