In [2]:
import pandas as pd
import numpy as np
from pathlib import Path

data_dir = Path('data')
full_df = pd.concat(
    pd.read_parquet(parquet_file)
    for parquet_file in data_dir.glob('*.parquet*')
)
full_df

           BILL_DATE  MATERIAL SALES_DIST  SOLD_TO  SHIP_TO  PIEZAS
327623    2019-03-04       425     103330  6002484  7017139       1
342880    2019-03-04     12080     103330  6002484  7017139       1
343841    2019-03-04      2639     103330  6002484  7017139       1
347866    2019-03-04     12026     103330  6002484  7017139       1
467020    2019-03-04     29772     103330  6002484  7017139       2
...              ...       ...        ...      ...      ...     ...
187373097 2021-03-31      2296     104862  6003121  7036861       1
187373098 2021-03-31      3590     104862  6003121  7036861       1
187373099 2021-03-31      8505     104862  6003121  7036861       1
187373100 2021-03-31     16951     104862  6003121  7036861       1
187373101 2021-03-31     19974     104862  6003121  7036861       1

[30605 rows x 6 columns]