# Opportunity 2

## Imports

In [30]:
import pandas as pd
import numpy as np
from pathlib import Path

## Data setup

In [31]:
data_dir = Path('data')
stores_data = {}

for parquet_file in data_dir.glob('*.parquet*'):
    file_name = str(parquet_file).replace('data\sales-', '').replace('.parquet.gzip', '')
    stores_data[file_name] = {'sales_df': pd.read_parquet(parquet_file).drop(['SALES_DIST', 'SOLD_TO', 'SHIP_TO'], axis=1)}
    
stores_data

{'data/sales-7017139': {'sales_df':            BILL_DATE  MATERIAL  PIEZAS
  327623    2019-03-04       425       1
  342880    2019-03-04     12080       1
  343841    2019-03-04      2639       1
  347866    2019-03-04     12026       1
  467020    2019-03-04     29772       2
  ...              ...       ...     ...
  186696013 2021-03-29     12793       2
  186696014 2021-03-29     22054       4
  186908262 2021-03-29     43004       1
  186915466 2021-03-29     16640       1
  186925567 2021-03-29     36717       2

  [4379 rows x 3 columns]},
 'data/sales-7003984': {'sales_df':            BILL_DATE  MATERIAL  PIEZAS
  8511      2019-03-03      2641       1
  8512      2019-03-03     12916       1
  8513      2019-03-03      2464       1
  9478      2019-03-03     11074       1
  9479      2019-03-03     20306       1
  ...              ...       ...     ...
  141730332 2020-09-17     31907       2
  141730333 2020-09-17     36526       2
  141730334 2020-09-17     36879       1
  141730335 2020-09-17     39950       5
  141730336 2020-09-17     44388       1

  [4333 rows x 3 columns]},
 'data/sales-7023126': {'sales_df':            BILL_DATE  MATERIAL  PIEZAS
  280519    2019-03-04     10646       1
  326929    2019-03-04     11317       1
  351215    2019-03-04      1070       1
  365467    2019-03-04      1010       1
  439130    2019-03-04      2342       5
  ...              ...       ...     ...
  185138025 2021-03-23      8906       1
  185138026 2021-03-23     18550       2
  185138027 2021-03-23     44877       2
  185138028 2021-03-23     44878       2
  185138029 2021-03-23     44879       2

  [4334 rows x 3 columns]},
 'data/sales-7029898': {'sales_df':            BILL_DATE  MATERIAL  PIEZAS
  1058047   2019-03-06     37156       1
  1058048   2019-03-06     31639       1
  1058049   2019-03-06     31640       1
  1058050   2019-03-06      8777       2
  1058051   2019-03-06      1252       1
  ...              ...       ...     ...
  187565620 2021-03-31     18833       1
  187565621 2021-03-31     28796       1
  187565622 2021-03-31     36793       1
  187565623 2021-03-31      9139       2
  187565634 2021-03-31     31225       1

  [4319 rows x 3 columns]},
 'data/sales-7007091': {'sales_df':            BILL_DATE  MATERIAL  PIEZAS
  17613     2019-03-03      9184       1
  17614     2019-03-03       495       1
  17615     2019-03-03       552       1
  18706     2019-03-03      2130       1
  41200     2019-03-03     12064       1
  ...              ...       ...     ...
  187137484 2021-03-30     32003       1
  187137485 2021-03-30     32334       1
  187516552 2021-03-31      7285       1
  187516553 2021-03-31     20421       4
  187516554 2021-03-31     40285       1

  [4376 rows x 3 columns]},
 'data/sales-7022906': {'sales_df':            BILL_DATE  MATERIAL  PIEZAS
  957703    2019-03-06     10950       4
  957704    2019-03-06     28725       8
  957705    2019-03-06     28727       8
  957706    2019-03-06     32002       8
  957707    2019-03-06     13561       5
  ...              ...       ...     ...
  185529703 2021-03-24     45931       3
  185529704 2021-03-24     45952       3
  185529705 2021-03-24     45953       4
  185529706 2021-03-24     45954       4
  185529707 2021-03-24     45955       4

  [4389 rows x 3 columns]},
 'data/sales-7036861': {'sales_df':            BILL_DATE  MATERIAL  PIEZAS
  56436972  2019-11-03     12091       1
  56436973  2019-11-03     17568       1
  56436974  2019-11-03     15439       1
  56436975  2019-11-03       542       1
  56436976  2019-11-03      2674       1
  ...              ...       ...     ...
  187373097 2021-03-31      2296       1
  187373098 2021-03-31      3590       1
  187373099 2021-03-31      8505       1
  187373100 2021-03-31     16951       1
  187373101 2021-03-31     19974       1

  [4475 rows x 3 columns]}}

## Get first and last date for each store

In [32]:
for store, data in stores_data.items():
    df_sorted_by_dates = data['sales_df'].sort_values(by='BILL_DATE')
    data['oldest_date'] = df_sorted_by_dates.iloc[0]["BILL_DATE"]
    data['newest_date'] = df_sorted_by_dates.iloc[-1]["BILL_DATE"]

## Top 10 most sold products per store

In [33]:
for store, data in stores_data.items():
    product_sales = data['sales_df'].groupby(['MATERIAL'])['PIEZAS'].sum().sort_values(ascending=False)
    data['top_products'] = product_sales.head(10)

stores_data

{'data/sales-7017139': {'sales_df':            BILL_DATE  MATERIAL  PIEZAS
  327623    2019-03-04       425       1
  342880    2019-03-04     12080       1
  343841    2019-03-04      2639       1
  347866    2019-03-04     12026       1
  467020    2019-03-04     29772       2
  ...              ...       ...     ...
  186696013 2021-03-29     12793       2
  186696014 2021-03-29     22054       4
  186908262 2021-03-29     43004       1
  186915466 2021-03-29     16640       1
  186925567 2021-03-29     36717       2

  [4379 rows x 3 columns],
  'oldest_date': Timestamp('2019-03-04 00:00:00'),
  'newest_date': Timestamp('2021-03-29 00:00:00'),
  'top_products': MATERIAL
  4101     200
  13165    115
  4124     100
  19197     86
  4373      80
  4102      70
  9664      68
  3953      68
  3954      65
  4108      62
  Name: PIEZAS, dtype: int64},
 'data/sales-7003984': {'sales_df':            BILL_DATE  MATERIAL  PIEZAS
  8511      2019-03-03      2641       1
  8512      2019-03-03     12916       1
  8513      2019-03-03      2464       1
  9478      2019-03-03     11074       1
  9479      2019-03-03     20306       1
  ...              ...       ...     ...
  141730332 2020-09-17     31907       2
  141730333 2020-09-17     36526       2
  141730334 2020-09-17     36879       1
  141730335 2020-09-17     39950       5
  141730336 2020-09-17     44388       1

  [4333 rows x 3 columns],
  'oldest_date': Timestamp('2019-03-03 00:00:00'),
  'newest_date': Timestamp('2020-09-17 00:00:00'),
  'top_products': MATERIAL
  1564     600
  4373      90
  3439      85
  12504     80
  3008      77
  6623      75
  27752     71
  4077      60
  7904      58
  4414      55
  Name: PIEZAS, dtype: int64},
 'data/sales-7023126': {'sales_df':            BILL_DATE  MATERIAL  PIEZAS
  280519    2019-03-04     10646       1
  326929    2019-03-04     11317       1
  351215    2019-03-04      1070       1
  365467    2019-03-04      1010       1
  439130    2019-03-04      2342       5
  ...              ...       ...     ...
  185138025 2021-03-23      8906       1
  185138026 2021-03-23     18550       2
  185138027 2021-03-23     44877       2
  185138028 2021-03-23     44878       2
  185138029 2021-03-23     44879       2

  [4334 rows x 3 columns],
  'oldest_date': Timestamp('2019-03-04 00:00:00'),
  'newest_date': Timestamp('2021-03-23 00:00:00'),
  'top_products': MATERIAL
  2541     127
  29725     85
  29258     68
  38054     60
  20791     56
  3439      55
  2342      52
  12081     52
  29257     46
  16869     45
  Name: PIEZAS, dtype: int64},
 'data/sales-7029898': {'sales_df':            BILL_DATE  MATERIAL  PIEZAS
  1058047   2019-03-06     37156       1
  1058048   2019-03-06     31639       1
  1058049   2019-03-06     31640       1
  1058050   2019-03-06      8777       2
  1058051   2019-03-06      1252       1
  ...              ...       ...     ...
  187565620 2021-03-31     18833       1
  187565621 2021-03-31     28796       1
  187565622 2021-03-31     36793       1
  187565623 2021-03-31      9139       2
  187565634 2021-03-31     31225       1

  [4319 rows x 3 columns],
  'oldest_date': Timestamp('2019-03-06 00:00:00'),
  'newest_date': Timestamp('2021-03-31 00:00:00'),
  'top_products': MATERIAL
  4373     209
  3444     192
  4103     137
  1883     106
  43629    103
  6248      85
  44066     80
  18891     70
  43598     57
  15932     54
  Name: PIEZAS, dtype: int64},
 'data/sales-7007091': {'sales_df':            BILL_DATE  MATERIAL  PIEZAS
  17613     2019-03-03      9184       1
  17614     2019-03-03       495       1
  17615     2019-03-03       552       1
  18706     2019-03-03      2130       1
  41200     2019-03-03     12064       1
  ...              ...       ...     ...
  187137484 2021-03-30     32003       1
  187137485 2021-03-30     32334       1
  187516552 2021-03-31      7285       1
  187516553 2021-03-31     20421       4
  187516554 2021-03-31     40285       1

  [4376 rows x 3 columns],
  'oldest_date': Timestamp('2019-03-03 00:00:00'),
  'newest_date': Timestamp('2021-03-31 00:00:00'),
  'top_products': MATERIAL
  6969     210
  6207     146
  6962     117
  6963     105
  188      103
  3591     100
  3590      98
  3556      95
  6213      71
  22572     68
  Name: PIEZAS, dtype: int64},
 'data/sales-7022906': {'sales_df':            BILL_DATE  MATERIAL  PIEZAS
  957703    2019-03-06     10950       4
  957704    2019-03-06     28725       8
  957705    2019-03-06     28727       8
  957706    2019-03-06     32002       8
  957707    2019-03-06     13561       5
  ...              ...       ...     ...
  185529703 2021-03-24     45931       3
  185529704 2021-03-24     45952       3
  185529705 2021-03-24     45953       4
  185529706 2021-03-24     45954       4
  185529707 2021-03-24     45955       4

  [4389 rows x 3 columns],
  'oldest_date': Timestamp('2019-03-06 00:00:00'),
  'newest_date': Timestamp('2021-03-24 00:00:00'),
  'top_products': MATERIAL
  15590    200
  21256    182
  8650     136
  18761    136
  28727    121
  32002    121
  28725    119
  8657     111
  28726    110
  8649     108
  Name: PIEZAS, dtype: int64},
 'data/sales-7036861': {'sales_df':            BILL_DATE  MATERIAL  PIEZAS
  56436972  2019-11-03     12091       1
  56436973  2019-11-03     17568       1
  56436974  2019-11-03     15439       1
  56436975  2019-11-03       542       1
  56436976  2019-11-03      2674       1
  ...              ...       ...     ...
  187373097 2021-03-31      2296       1
  187373098 2021-03-31      3590       1
  187373099 2021-03-31      8505       1
  187373100 2021-03-31     16951       1
  187373101 2021-03-31     19974       1

  [4475 rows x 3 columns],
  'oldest_date': Timestamp('2019-11-03 00:00:00'),
  'newest_date': Timestamp('2021-03-31 00:00:00'),
  'top_products': MATERIAL
  42830    191
  42915    179
  42914    162
  42883    141
  42875    126
  42902    125
  43337    116
  42847    113
  42846     98
  42957     94
  Name: PIEZAS, dtype: int64}}

## Get daily sales of top 10 products of each store

In [34]:
for store, data in stores_data.items():
    idx = pd.date_range(data['oldest_date'], data['newest_date'])
    data['top_products_sales'] = {}
    for product, sale in data['top_products'].iteritems():
        product_series = data['sales_df'][data['sales_df']["MATERIAL"] == product]
        product_series = product_series.groupby('BILL_DATE').PIEZAS.sum().to_frame(name = 'PIEZAS')

        product_series.index = pd.DatetimeIndex(product_series.index)
        product_series = product_series.reindex(idx, fill_value=0)
        product_series.index.name = "BILL_DATE"
        product_series = product_series.reset_index()
        data['top_products_sales'][product] = product_series

stores_data

{'data/sales-7017139': {'sales_df':            BILL_DATE  MATERIAL  PIEZAS
  327623    2019-03-04       425       1
  342880    2019-03-04     12080       1
  343841    2019-03-04      2639       1
  347866    2019-03-04     12026       1
  467020    2019-03-04     29772       2
  ...              ...       ...     ...
  186696013 2021-03-29     12793       2
  186696014 2021-03-29     22054       4
  186908262 2021-03-29     43004       1
  186915466 2021-03-29     16640       1
  186925567 2021-03-29     36717       2

  [4379 rows x 3 columns],
  'oldest_date': Timestamp('2019-03-04 00:00:00'),
  'newest_date': Timestamp('2021-03-29 00:00:00'),
  'top_products': MATERIAL
  4101     200
  13165    115
  4124     100
  19197     86
  4373      80
  4102      70
  9664      68
  3953      68
  3954      65
  4108      62
  Name: PIEZAS, dtype: int64,
  'top_products_sales': {4101:      BILL_DATE  PIEZAS
   0   2019-03-04       0
   1   2019-03-05       0
   2   2019-03-06       0
   3   2019-03-07       0
   4   2019-03-08       0
   ..         ...     ...
   752 2021-03-25       0
   753 2021-03-26       0
   754 2021-03-27       0
   755 2021-03-28       0
   756 2021-03-29       0

   [757 rows x 2 columns],
   13165:      BILL_DATE  PIEZAS
   0   2019-03-04       0
   1   2019-03-05       0
   2   2019-03-06       0
   3   2019-03-07       0
   4   2019-03-08       0
   ..         ...     ...
   752 2021-03-25       0
   753 2021-03-26       0
   754 2021-03-27       0
   755 2021-03-28       0
   756 2021-03-29       0

   [757 rows x 2 columns],
   4124:      BILL_DATE  PIEZAS
   0   2019-03-04       0
   1   2019-03-05       0
   2   2019-03-06       0
   3   2019-03-07       0
   4   2019-03-08       0
   ..         ...     ...
   752 2021-03-25       0
   753 2021-03-26       0
   754 2021-03-27       0
   755 2021-03-28       0
   756 2021-03-29       0

   [757 rows x 2 columns],
   19197:      BILL_DATE  PIEZAS
   0   2019-03-04       0
   1   2019-03-05       0
   2   2019-03-06       0
   3   2019-03-07       0
   4   2019-03-08       0
   ..         ...     ...
   752 2021-03-25       0
   753 2021-03-26       0
   754 2021-03-27       0
   755 2021-03-28       0
   756 2021-03-29       0

   [757 rows x 2 columns],
   4373:      BILL_DATE  PIEZAS
   0   2019-03-04       0
   1   2019-03-05       0
   2   2019-03-06       0
   3   2019-03-07       0
   4   2019-03-08       0
   ..         ...     ...
   752 2021-03-25       0
   753 2021-03-26       0
   754 2021-03-27       0
   755 2021-03-28       0
   756 2021-03-29       0

   [757 rows x 2 columns],
   4102:      BILL_DATE  PIEZAS
   0   2019-03-04       0
   1   2019-03-05       0
   2   2019-03-06       0
   3   2019-03-07       0
   4   2019-03-08       0
   ..         ...     ...
   752 2021-03-25       0
   753 2021-03-26       0
   754 2021-03-27       0
   755 2021-03-28       0
   756 2021-03-29       0

   [757 rows x 2 columns],
   9664:      BILL_DATE  PIEZAS
   0   2019-03-04       0
   1   2019-03-05       0
   2   2019-03-06       0
   3   2019-03-07       0
   4   2019-03-08       0
   ..         ...     ...
   752 2021-03-25       0
   753 2021-03-26       0
   754 2021-03-27       0
   755 2021-03-28       0
   756 2021-03-29       0

   [757 rows x 2 columns],
   3953:      BILL_DATE  PIEZAS
   0   2019-03-04       0
   1   2019-03-05       0
   2   2019-03-06       0
   3   2019-03-07       0
   4   2019-03-08       0
   ..         ...     ...
   752 2021-03-25       4
   753 2021-03-26       0
   754 2021-03-27       0
   755 2021-03-28       0
   756 2021-03-29       0

   [757 rows x 2 columns],
   3954:      BILL_DATE  PIEZAS
   0   2019-03-04       0
   1   2019-03-05       0
   2   2019-03-06       0
   3   2019-03-07       0
   4   2019-03-08       0
   ..         ...     ...
   752 2021-03-25       0
   753 2021-03-26       0
   754 2021-03-27       0
   755 2021-03-28       0
   756 2021-03-29       0

   [757 rows x 2 columns],
   4108:      BILL_DATE  PIEZAS
   0   2019-03-04       0
   1   2019-03-05       0
   2   2019-03-06       0
   3   2019-03-07       0
   4   2019-03-08       0
   ..         ...     ...
   752 2021-03-25       0
   753 2021-03-26       0
   754 2021-03-27       0
   755 2021-03-28       0
   756 2021-03-29       0

   [757 rows x 2 columns]}},
 'data/sales-7003984': {'sales_df':            BILL_DATE  MATERIAL  PIEZAS
  8511      2019-03-03      2641       1
  8512      2019-03-03     12916       1
  8513      2019-03-03      2464       1
  9478      2019-03-03     11074       1
  9479      2019-03-03     20306       1
  ...              ...       ...     ...
  141730332 2020-09-17     31907       2
  141730333 2020-09-17     36526       2
  141730334 2020-09-17     36879       1
  141730335 2020-09-17     39950       5
  141730336 2020-09-17     44388       1

  [4333 rows x 3 columns],
  'oldest_date': Timestamp('2019-03-03 00:00:00'),
  'newest_date': Timestamp('2020-09-17 00:00:00'),
  'top_products': MATERIAL
  1564     600
  4373      90
  3439      85
  12504     80
  3008      77
  6623      75
  27752     71
  4077      60
  7904      58
  4414      55
  Name: PIEZAS, dtype: int64,
  'top_products_sales': {1564:      BILL_DATE  PIEZAS
   0   2019-03-03       0
   1   2019-03-04       0
   2   2019-03-05       0
   3   2019-03-06       0
   4   2019-03-07       0
   ..         ...     ...
   560 2020-09-13       0
   561 2020-09-14       0
   562 2020-09-15       0
   563 2020-09-16       0
   564 2020-09-17       0

   [565 rows x 2 columns],
   4373:      BILL_DATE  PIEZAS
   0   2019-03-03       0
   1   2019-03-04       0
   2   2019-03-05      10
   3   2019-03-06       0
   4   2019-03-07       0
   ..         ...     ...
   560 2020-09-13       0
   561 2020-09-14       0
   562 2020-09-15       0
   563 2020-09-16       0
   564 2020-09-17       0

   [565 rows x 2 columns],
   3439:      BILL_DATE  PIEZAS
   0   2019-03-03       0
   1   2019-03-04       0
   2   2019-03-05       0
   3   2019-03-06       0
   4   2019-03-07       0
   ..         ...     ...
   560 2020-09-13       0
   561 2020-09-14       0
   562 2020-09-15       0
   563 2020-09-16       0
   564 2020-09-17       0

   [565 rows x 2 columns],
   12504:      BILL_DATE  PIEZAS
   0   2019-03-03       0
   1   2019-03-04       0
   2   2019-03-05       0
   3   2019-03-06       0
   4   2019-03-07       0
   ..         ...     ...
   560 2020-09-13       0
   561 2020-09-14       0
   562 2020-09-15       0
   563 2020-09-16       0
   564 2020-09-17       0

   [565 rows x 2 columns],
   3008:      BILL_DATE  PIEZAS
   0   2019-03-03       0
   1   2019-03-04       0
   2   2019-03-05       0
   3   2019-03-06       0
   4   2019-03-07       0
   ..         ...     ...
   560 2020-09-13       0
   561 2020-09-14       0
   562 2020-09-15       0
   563 2020-09-16       0
   564 2020-09-17       0

   [565 rows x 2 columns],
   6623:      BILL_DATE  PIEZAS
   0   2019-03-03       0
   1   2019-03-04       0
   2   2019-03-05       0
   3   2019-03-06       0
   4   2019-03-07       0
   ..         ...     ...
   560 2020-09-13       0
   561 2020-09-14       0
   562 2020-09-15       0
   563 2020-09-16       0
   564 2020-09-17       0

   [565 rows x 2 columns],
   27752:      BILL_DATE  PIEZAS
   0   2019-03-03       0
   1   2019-03-04       0
   2   2019-03-05       0
   3   2019-03-06       0
   4   2019-03-07       0
   ..         ...     ...
   560 2020-09-13       0
   561 2020-09-14       0
   562 2020-09-15       0
   563 2020-09-16       0
   564 2020-09-17       0

   [565 rows x 2 columns],
   4077:      BILL_DATE  PIEZAS
   0   2019-03-03       0
   1   2019-03-04       0
   2   2019-03-05       0
   3   2019-03-06       0
   4   2019-03-07       0
   ..         ...     ...
   560 2020-09-13       0
   561 2020-09-14       0
   562 2020-09-15       0
   563 2020-09-16       0
   564 2020-09-17       0

   [565 rows x 2 columns],
   7904:      BILL_DATE  PIEZAS
   0   2019-03-03       0
   1   2019-03-04       0
   2   2019-03-05       0
   3   2019-03-06       0
   4   2019-03-07       0
   ..         ...     ...
   560 2020-09-13       0
   561 2020-09-14       0
   562 2020-09-15       0
   563 2020-09-16       0
   564 2020-09-17       0

   [565 rows x 2 columns],
   4414:      BILL_DATE  PIEZAS
   0   2019-03-03       0
   1   2019-03-04       0
   2   2019-03-05       0
   3   2019-03-06       0
   4   2019-03-07       0
   ..         ...     ...
   560 2020-09-13       0
   561 2020-09-14       0
   562 2020-09-15       0
   563 2020-09-16       0
   564 2020-09-17       0

   [565 rows x 2 columns]}},
 'data/sales-7023126': {'sales_df':            BILL_DATE  MATERIAL  PIEZAS
  280519    2019-03-04     10646       1
  326929    2019-03-04     11317       1
  351215    2019-03-04      1070       1
  365467    2019-03-04      1010       1
  439130    2019-03-04      2342       5
  ...              ...       ...     ...
  185138025 2021-03-23      8906       1
  185138026 2021-03-23     18550       2
  185138027 2021-03-23     44877       2
  185138028 2021-03-23     44878       2
  185138029 2021-03-23     44879       2

  [4334 rows x 3 columns],
  'oldest_date': Timestamp('2019-03-04 00:00:00'),
  'newest_date': Timestamp('2021-03-23 00:00:00'),
  'top_products': MATERIAL
  2541     127
  29725     85
  29258     68
  38054     60
  20791     56
  3439      55
  2342      52
  12081     52
  29257     46
  16869     45
  Name: PIEZAS, dtype: int64,
  'top_products_sales': {2541:      BILL_DATE  PIEZAS
   0   2019-03-04       0
   1   2019-03-05       0
   2   2019-03-06       0
   3   2019-03-07       0
   4   2019-03-08       0
   ..         ...     ...
   746 2021-03-19       0
   747 2021-03-20       0
   748 2021-03-21       0
   749 2021-03-22       0
   750 2021-03-23       0

   [751 rows x 2 columns],
   29725:      BILL_DATE  PIEZAS
   0   2019-03-04       0
   1   2019-03-05       0
   2   2019-03-06       0
   3   2019-03-07       0
   4   2019-03-08       0
   ..         ...     ...
   746 2021-03-19       0
   747 2021-03-20       0
   748 2021-03-21       0
   749 2021-03-22       0
   750 2021-03-23       0

   [751 rows x 2 columns],
   29258:      BILL_DATE  PIEZAS
   0   2019-03-04       0
   1   2019-03-05       0
   2   2019-03-06       0
   3   2019-03-07       0
   4   2019-03-08       0
   ..         ...     ...
   746 2021-03-19       0
   747 2021-03-20       0
   748 2021-03-21       0
   749 2021-03-22       0
   750 2021-03-23       0

   [751 rows x 2 columns],
   38054:      BILL_DATE  PIEZAS
   0   2019-03-04       0
   1   2019-03-05       0
   2   2019-03-06       0
   3   2019-03-07       0
   4   2019-03-08       0
   ..         ...     ...
   746 2021-03-19       0
   747 2021-03-20       0
   748 2021-03-21       0
   749 2021-03-22       0
   750 2021-03-23       0

   [751 rows x 2 columns],
   20791:      BILL_DATE  PIEZAS
   0   2019-03-04       0
   1   2019-03-05       8
   2   2019-03-06       0
   3   2019-03-07       0
   4   2019-03-08       0
   ..         ...     ...
   746 2021-03-19       0
   747 2021-03-20       0
   748 2021-03-21       0
   749 2021-03-22       0
   750 2021-03-23       0

   [751 rows x 2 columns],
   3439:      BILL_DATE  PIEZAS
   0   2019-03-04       0
   1   2019-03-05       0
   2   2019-03-06       0
   3   2019-03-07       0
   4   2019-03-08       0
   ..         ...     ...
   746 2021-03-19       0
   747 2021-03-20       0
   748 2021-03-21       0
   749 2021-03-22       0
   750 2021-03-23       0

   [751 rows x 2 columns],
   2342:      BILL_DATE  PIEZAS
   0   2019-03-04       5
   1   2019-03-05       0
   2   2019-03-06       0
   3   2019-03-07       0
   4   2019-03-08       0
   ..         ...     ...
   746 2021-03-19       0
   747 2021-03-20       0
   748 2021-03-21       0
   749 2021-03-22       0
   750 2021-03-23       0

   [751 rows x 2 columns],
   12081:      BILL_DATE  PIEZAS
   0   2019-03-04       0
   1   2019-03-05       0
   2   2019-03-06       0
   3   2019-03-07       0
   4   2019-03-08       0
   ..         ...     ...
   746 2021-03-19       0
   747 2021-03-20       0
   748 2021-03-21       0
   749 2021-03-22       0
   750 2021-03-23       0

   [751 rows x 2 columns],
   29257:      BILL_DATE  PIEZAS
   0   2019-03-04       0
   1   2019-03-05       0
   2   2019-03-06       0
   3   2019-03-07       0
   4   2019-03-08       0
   ..         ...     ...
   746 2021-03-19       0
   747 2021-03-20       0
   748 2021-03-21       0
   749 2021-03-22       0
   750 2021-03-23       0

   [751 rows x 2 columns],
   16869:      BILL_DATE  PIEZAS
   0   2019-03-04       0
   1   2019-03-05       0
   2   2019-03-06       0
   3   2019-03-07       0
   4   2019-03-08       0
   ..         ...     ...
   746 2021-03-19       0
   747 2021-03-20       0
   748 2021-03-21       0
   749 2021-03-22       0
   750 2021-03-23       0

   [751 rows x 2 columns]}},
 'data/sales-7029898': {'sales_df':            BILL_DATE  MATERIAL  PIEZAS
  1058047   2019-03-06     37156       1
  1058048   2019-03-06     31639       1
  1058049   2019-03-06     31640       1
  1058050   2019-03-06      8777       2
  1058051   2019-03-06      1252       1
  ...              ...       ...     ...
  187565620 2021-03-31     18833       1
  187565621 2021-03-31     28796       1
  187565622 2021-03-31     36793       1
  187565623 2021-03-31      9139       2
  187565634 2021-03-31     31225       1

  [4319 rows x 3 columns],
  'oldest_date': Timestamp('2019-03-06 00:00:00'),
  'newest_date': Timestamp('2021-03-31 00:00:00'),
  'top_products': MATERIAL
  4373     209
  3444     192
  4103     137
  1883     106
  43629    103
  6248      85
  44066     80
  18891     70
  43598     57
  15932     54
  Name: PIEZAS, dtype: int64,
  'top_products_sales': {4373:      BILL_DATE  PIEZAS
   0   2019-03-06       1
   1   2019-03-07       0
   2   2019-03-08       0
   3   2019-03-09       0
   4   2019-03-10       0
   ..         ...     ...
   752 2021-03-27       0
   753 2021-03-28       0
   754 2021-03-29       0
   755 2021-03-30       0
   756 2021-03-31       0

   [757 rows x 2 columns],
   3444:      BILL_DATE  PIEZAS
   0   2019-03-06       0
   1   2019-03-07       0
   2   2019-03-08       0
   3   2019-03-09       0
   4   2019-03-10       0
   ..         ...     ...
   752 2021-03-27       0
   753 2021-03-28       0
   754 2021-03-29       0
   755 2021-03-30       0
   756 2021-03-31       0

   [757 rows x 2 columns],
   4103:      BILL_DATE  PIEZAS
   0   2019-03-06       0
   1   2019-03-07       0
   2   2019-03-08       0
   3   2019-03-09       0
   4   2019-03-10       1
   ..         ...     ...
   752 2021-03-27       0
   753 2021-03-28       0
   754 2021-03-29       0
   755 2021-03-30       0
   756 2021-03-31       0

   [757 rows x 2 columns],
   1883:      BILL_DATE  PIEZAS
   0   2019-03-06       0
   1   2019-03-07       0
   2   2019-03-08       0
   3   2019-03-09       0
   4   2019-03-10       0
   ..         ...     ...
   752 2021-03-27       0
   753 2021-03-28       0
   754 2021-03-29       0
   755 2021-03-30       0
   756 2021-03-31       0

   [757 rows x 2 columns],
   43629:      BILL_DATE  PIEZAS
   0   2019-03-06       0
   1   2019-03-07       0
   2   2019-03-08       0
   3   2019-03-09       0
   4   2019-03-10       0
   ..         ...     ...
   752 2021-03-27       0
   753 2021-03-28       0
   754 2021-03-29       0
   755 2021-03-30       0
   756 2021-03-31       0

   [757 rows x 2 columns],
   6248:      BILL_DATE  PIEZAS
   0   2019-03-06       0
   1   2019-03-07       0
   2   2019-03-08       0
   3   2019-03-09       0
   4   2019-03-10       0
   ..         ...     ...
   752 2021-03-27       0
   753 2021-03-28       0
   754 2021-03-29       0
   755 2021-03-30       0
   756 2021-03-31       0

   [757 rows x 2 columns],
   44066:      BILL_DATE  PIEZAS
   0   2019-03-06       0
   1   2019-03-07       0
   2   2019-03-08       0
   3   2019-03-09       0
   4   2019-03-10       0
   ..         ...     ...
   752 2021-03-27       0
   753 2021-03-28       0
   754 2021-03-29       0
   755 2021-03-30       0
   756 2021-03-31       0

   [757 rows x 2 columns],
   18891:      BILL_DATE  PIEZAS
   0   2019-03-06       0
   1   2019-03-07       0
   2   2019-03-08       0
   3   2019-03-09       0
   4   2019-03-10       0
   ..         ...     ...
   752 2021-03-27       0
   753 2021-03-28       0
   754 2021-03-29       0
   755 2021-03-30       0
   756 2021-03-31       0

   [757 rows x 2 columns],
   43598:      BILL_DATE  PIEZAS
   0   2019-03-06       0
   1   2019-03-07       0
   2   2019-03-08       0
   3   2019-03-09       0
   4   2019-03-10       0
   ..         ...     ...
   752 2021-03-27       0
   753 2021-03-28       0
   754 2021-03-29       0
   755 2021-03-30       0
   756 2021-03-31       0

   [757 rows x 2 columns],
   15932:      BILL_DATE  PIEZAS
   0   2019-03-06       0
   1   2019-03-07       0
   2   2019-03-08       0
   3   2019-03-09       0
   4   2019-03-10       0
   ..         ...     ...
   752 2021-03-27       0
   753 2021-03-28       0
   754 2021-03-29       0
   755 2021-03-30       0
   756 2021-03-31       0

   [757 rows x 2 columns]}},
 'data/sales-7007091': {'sales_df':            BILL_DATE  MATERIAL  PIEZAS
  17613     2019-03-03      9184       1
  17614     2019-03-03       495       1
  17615     2019-03-03       552       1
  18706     2019-03-03      2130       1
  41200     2019-03-03     12064       1
  ...              ...       ...     ...
  187137484 2021-03-30     32003       1
  187137485 2021-03-30     32334       1
  187516552 2021-03-31      7285       1
  187516553 2021-03-31     20421       4
  187516554 2021-03-31     40285       1

  [4376 rows x 3 columns],
  'oldest_date': Timestamp('2019-03-03 00:00:00'),
  'newest_date': Timestamp('2021-03-31 00:00:00'),
  'top_products': MATERIAL
  6969     210
  6207     146
  6962     117
  6963     105
  188      103
  3591     100
  3590      98
  3556      95
  6213      71
  22572     68
  Name: PIEZAS, dtype: int64,
  'top_products_sales': {6969:      BILL_DATE  PIEZAS
   0   2019-03-03       0
   1   2019-03-04       0
   2   2019-03-05       2
   3   2019-03-06       0
   4   2019-03-07       0
   ..         ...     ...
   755 2021-03-27       0
   756 2021-03-28       0
   757 2021-03-29       0
   758 2021-03-30       0
   759 2021-03-31       0

   [760 rows x 2 columns],
   6207:      BILL_DATE  PIEZAS
   0   2019-03-03       0
   1   2019-03-04       0
   2   2019-03-05       0
   3   2019-03-06       0
   4   2019-03-07       0
   ..         ...     ...
   755 2021-03-27       0
   756 2021-03-28       0
   757 2021-03-29       0
   758 2021-03-30       0
   759 2021-03-31       0

   [760 rows x 2 columns],
   6962:      BILL_DATE  PIEZAS
   0   2019-03-03       0
   1   2019-03-04       0
   2   2019-03-05       0
   3   2019-03-06       0
   4   2019-03-07       1
   ..         ...     ...
   755 2021-03-27       0
   756 2021-03-28       0
   757 2021-03-29       0
   758 2021-03-30       0
   759 2021-03-31       0

   [760 rows x 2 columns],
   6963:      BILL_DATE  PIEZAS
   0   2019-03-03       0
   1   2019-03-04       0
   2   2019-03-05       1
   3   2019-03-06       0
   4   2019-03-07       1
   ..         ...     ...
   755 2021-03-27       0
   756 2021-03-28       0
   757 2021-03-29       0
   758 2021-03-30       0
   759 2021-03-31       0

   [760 rows x 2 columns],
   188:      BILL_DATE  PIEZAS
   0   2019-03-03       0
   1   2019-03-04       0
   2   2019-03-05       2
   3   2019-03-06       1
   4   2019-03-07       1
   ..         ...     ...
   755 2021-03-27       0
   756 2021-03-28       0
   757 2021-03-29       0
   758 2021-03-30       0
   759 2021-03-31       0
