# Opportunity 2

## Imports

In [73]:
import pandas as pd
import numpy as np
from pathlib import Path

## Data setup

In [74]:
data_dir = Path('data')
full_df = pd.concat(
    pd.read_parquet(parquet_file)
    for parquet_file in data_dir.glob('*.parquet*')
)
full_df

           BILL_DATE  MATERIAL SALES_DIST  SOLD_TO  SHIP_TO  PIEZAS
8511      2019-03-03      2641     100482  6001932  7003984       1
8512      2019-03-03     12916     100482  6001932  7003984       1
8513      2019-03-03      2464     100482  6001932  7003984       1
9478      2019-03-03     11074     100482  6001932  7003984       1
9479      2019-03-03     20306     100482  6001932  7003984       1
...              ...       ...        ...      ...      ...     ...
187373097 2021-03-31      2296     104862  6003121  7036861       1
187373098 2021-03-31      3590     104862  6003121  7036861       1
187373099 2021-03-31      8505     104862  6003121  7036861       1
187373100 2021-03-31     16951     104862  6003121  7036861       1
187373101 2021-03-31     19974     104862  6003121  7036861       1

[30605 rows x 6 columns]

## Top 10 most sold products

In [78]:
total_sales = full_df.groupby(['MATERIAL'])['PIEZAS'].sum()
total_sales = total_sales.sort_values(ascending=False)

top_10 = total_sales.head(10)
top_10

MATERIAL
1564     600
4373     379
3444     240
21256    222
6969     210
4103     207
15590    205
4101     200
42830    191
12091    184
Name: PIEZAS, dtype: int64

## Top 10 most sold products' weekly behaviour

In [106]:
top_10_weekly = {}

for mat_sales in top_10.T.iteritems():
    material = mat_sales[0]
    top_10_weekly[material] = full_df[full_df['MATERIAL'] == material]
    top_10_weekly[material]['Week'] = pd.to_datetime(top_10_weekly[material]['BILL_DATE']) - pd.to_timedelta(7, unit='d')
    top_10_weekly[material] =  top_10_weekly[material].filter(['Week', 'PIEZAS']).groupby([pd.Grouper(key='Week', freq='W-MON')]).sum().reset_index()

top_10_weekly

<ipython-input-106-ed4587b6efdf>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  top_10_weekly[material]['Week'] = pd.to_datetime(top_10_weekly[material]['BILL_DATE']) - pd.to_timedelta(7, unit='d')
<ipython-input-106-ed4587b6efdf>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  top_10_weekly[material]['Week'] = pd.to_datetime(top_10_weekly[material]['BILL_DATE']) - pd.to_timedelta(7, unit='d')
<ipython-input-106-ed4587b6efdf>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  top_10_weekly[material]['Week'] = pd.to_datetime(top_10_weekly[material]['BILL_DATE']) - pd.to_timedelta(7, unit='d')
<ipython-input-106-ed4587b6efdf>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  top_10_weekly[material]['Week'] = pd.to_datetime(top_10_weekly[material]['BILL_DATE']) - pd.to_timedelta(7, unit='d')
<ipython-input-106-ed4587b6efdf>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  top_10_weekly[material]['Week'] = pd.to_datetime(top_10_weekly[material]['BILL_DATE']) - pd.to_timedelta(7, unit='d')

{1564:          Week  PIEZAS
 0  2019-03-18     100
 1  2019-03-25       0
 2  2019-04-01       0
 3  2019-04-08       0
 4  2019-04-15       0
 ..        ...     ...
 65 2020-06-15       0
 66 2020-06-22       0
 67 2020-06-29       0
 68 2020-07-06       0
 69 2020-07-13     100

 [70 rows x 2 columns],
 4373:           Week  PIEZAS
 0   2019-03-04      17
 1   2019-03-11       5
 2   2019-03-18      18
 3   2019-03-25       8
 4   2019-04-01       1
 ..         ...     ...
 103 2021-02-22       9
 104 2021-03-01      15
 105 2021-03-08       8
 106 2021-03-15       5
 107 2021-03-22       4

 [108 rows x 2 columns],
 3444:           Week  PIEZAS
 0   2019-03-25      12
 1   2019-04-01       0
 2   2019-04-08       0
 3   2019-04-15       0
 4   2019-04-22       0
 ..         ...     ...
 98  2021-02-08      12
 99  2021-02-15       0
 100 2021-02-22       0
 101 2021-03-01       0
 102 2021-03-08      12

 [103 rows x 2 columns],
 21256:           Week  PIEZAS
 0   2019-04-08      10
 1   2019-04-15      12
 2   2019-04-22       4
 3   2019-04-29       0
 4   2019-05-06      12
 ..         ...     ...
 96  2021-02-08       0
 97  2021-02-15       2
 98  2021-02-22       2
 99  2021-03-01      10
 100 2021-03-08       6

 [101 rows x 2 columns],
 6969:           Week  PIEZAS
 0   2019-03-04       2
 1   2019-03-11       1
 2   2019-03-18       0
 3   2019-03-25       0
 4   2019-04-01       1
 ..         ...     ...
 103 2021-02-22       0
 104 2021-03-01       0
 105 2021-03-08       3
 106 2021-03-15       3
 107 2021-03-22       2

 [108 rows x 2 columns],
 4103:           Week  PIEZAS
 0   2019-03-04       2
 1   2019-03-11       2
 2   2019-03-18       1
 3   2019-03-25       1
 4   2019-04-01       0
 ..         ...     ...
 103 2021-02-22       3
 104 2021-03-01       0
 105 2021-03-08       3
 106 2021-03-15       6
 107 2021-03-22       4

 [108 rows x 2 columns],
 15590:          Week  PIEZAS
 0  2019-03-11      10
 1  2019-03-18       0
 2  2019-03-25      10
 3  2019-04-01       0
 4  2019-04-08      10
 ..        ...     ...
 87 2020-11-09       0
 88 2020-11-16       0
 89 2020-11-23       0
 90 2020-11-30       0
 91 2020-12-07       8

 [92 rows x 2 columns],
 4101:          Week  PIEZAS
 0  2020-02-03     100
 1  2020-02-10       0
 2  2020-02-17       0
 3  2020-02-24       0
 4  2020-03-02       0
 5  2020-03-09       0
 6  2020-03-16       0
 7  2020-03-23       0
 8  2020-03-30       0
 9  2020-04-06       0
 10 2020-04-13       0
 11 2020-04-20       0
 12 2020-04-27       0
 13 2020-05-04       0
 14 2020-05-11       0
 15 2020-05-18       0
 16 2020-05-25       0
 17 2020-06-01       0
 18 2020-06-08       0
 19 2020-06-15       0
 20 2020-06-22       0
 21 2020-06-29       0
 22 2020-07-06       0
 23 2020-07-13       0
 24 2020-07-20       0
 25 2020-07-27       0
 26 2020-08-03       0
 27 2020-08-10       0
 28 2020-08-17       0
 29 2020-08-24       0
 30 2020-08-31       0
 31 2020-09-07       0
 32 2020-09-14       0
 33 2020-09-21       0
 34 2020-09-28       0
 35 2020-10-05       0
 36 2020-10-12       0
 37 2020-10-19       0
 38 2020-10-26      20
 39 2020-11-02       0
 40 2020-11-09       0
 41 2020-11-16       0
 42 2020-11-23       0
 43 2020-11-30       0
 44 2020-12-07       0
 45 2020-12-14       0
 46 2020-12-21       0
 47 2020-12-28      50
 48 2021-01-04       0
 49 2021-01-11       0
 50 2021-01-18       0
 51 2021-01-25       0
 52 2021-02-01       0
 53 2021-02-08      30,
 42830:          Week  PIEZAS
 0  2020-02-03       1
 1  2020-02-10      10
 2  2020-02-17       0
 3  2020-02-24       0
 4  2020-03-02       3
 5  2020-03-09       0
 6  2020-03-16       0
 7  2020-03-23       0
 8  2020-03-30       0
 9  2020-04-06       0
 10 2020-04-13      10
 11 2020-04-20       4
 12 2020-04-27       0
 13 2020-05-04       0
 14 2020-05-11      30
 15 2020-05-18       0
 16 2020-05-25       0
 17 2020-06-01       0
 18 2020-06-08      20
 19 2020-06-15      20
 20 2020-06-22       0
 21 2020-06-29       0
 22 2020-07-06       0
 23 2020-07-13      10
 24 2020-07-20       0
 25 2020-07-27       5
 26 2020-08-03       0
 27 2020-08-10      10
 28 2020-08-17       0
 29 2020-08-24       0
 30 2020-08-31       2
 31 2020-09-07      15
 32 2020-09-14       0
 33 2020-09-21       0
 34 2020-09-28       0
 35 2020-10-05       0
 36 2020-10-12       0
 37 2020-10-19       0
 38 2020-10-26       1
 39 2020-11-02       0
 40 2020-11-09      16
 41 2020-11-16       0
 42 2020-11-23       0
 43 2020-11-30       0
 44 2020-12-07       0
 45 2020-12-14      20
 46 2020-12-21       0
 47 2020-12-28       2
 48 2021-01-04       1
 49 2021-01-11      10
 50 2021-01-18       0
 51 2021-01-25       0
 52 2021-02-01       0
 53 2021-02-08       1,
 12091:           Week  PIEZAS
 0   2019-03-25       5
 1   2019-04-01       0
 2   2019-04-08       7
 3   2019-04-15       4
 4   2019-04-22       0
 ..         ...     ...
 100 2021-02-22       6
 101 2021-03-01       0
 102 2021-03-08       0
 103 2021-03-15       4
 104 2021-03-22       1

 [105 rows x 2 columns]}